@mixin fontset($size, $weight, $color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  margin: 0;
}
h1 {
  @include fontset(36px, 500, #000);
  @media (max-width: 767px) {
    font-size: 24px;
  }
  @media (min-width: 768px) and(max-width:1699px) {
    font-size: 30px;
  }
  @media (min-width: 1700px) {
    font-size: 36px;
  }
}
h2 {
  @include fontset(36px, 300, #000);
  @media (max-width: 767px) {
    font-size: 18px;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    font-size: 20px;
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    font-size: 25px;
  }
  @media (min-width: 1200px) and (max-width: 1699px) {
    font-size: 30px;
  }
}
h3 {
  @include fontset(20px, 500, #000);
  @media (max-width: 767px) {
    font-size: 16px;
  }
  @media (min-width: 768px) and (max-width: 1699px) {
    font-size: 20px;
  }
}
.subtitle-1 {
  @include fontset(24px, 500, #000);
  @media (max-width: 767px) {
    font-size: 17px;
  }
  @media (min-width: 1700px) {
    font-size: 28px;
  }
}
.subtitle-2 {
  @include fontset(18px, 400, #000);
  @media (max-width: 1699px) {
    font-size: 16px;
  }
  @media (min-width: 1700px) {
    font-size: 24px;
  }
}
.subtitle-3 {
  @include fontset(20px, 500, #000);
  @media (max-width: 991px) {
    font-size: 14px;
  }
  @media (min-width: 992px) and (max-width: 1699px) {
    font-size: 16px;
  }
}
.subtitle-4 {
  @include fontset(18px, 500, #000);
  @media (max-width: 991px) {
    font-size: 14px !important;
  }
}
.body-1 {
  @include fontset(24px, 400, #000);
}
.body-2 {
  @include fontset(20px, 400, #000);
  @media (max-width: 1366px) {
    font-size: 16px;
  }
  @media (min-width: 1367px) and (max-width: 1699px) {
    font-size: 18px;
  }
}
.body-3 {
  @include fontset(16px, 400, #000);
}
.hyperlink-1 {
  @include fontset(20px, 400, #71e8fe);
  text-decoration: underline;
}
.hyperlink-2 {
  @include fontset(24px, 400, #04a3fd);
  text-decoration: underline;
}
p {
  font-size: 15px;
  line-height: 28px;
  margin: 0;
  padding-bottom: 25px;
  color: $text-gray;
  @media (max-width: 767px) {
    padding-bottom: 15px;
  }
  @media (min-width: 1300px) {
    padding-bottom: 35px;
  }
  @media (min-width: 1700px) {
    font-size: 18px;
    // line-height: 40px;
    // padding-bottom: 42px;
  }
}

@media (min-width: 1700px) {
  .subtitle-4 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
}

.profile-font-size {
  .subtitle-2 {
    font-size: 18px !important;
  }
}

.user-name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
