<div class="copywrite card-widget footer-sm"> 
    <div class="container">
      <div class="copywrite-box">
        <p>© 2021 Shriram Transport Finance Company Limited. <br class="d-block d-md-none">All rights reserved</p>
        <ul class="d-none d-md-block">
          <li>
            <a href="tel:18001034959" aria-label="Toll free number"><i class="icon-Icon_call pr5"></i> Toll Free Number - 18001034959</a>
          </li>
        </ul>
      </div>
      <a href="" class="scroll-from angle-up-btn"><i class="icon-Upperarrow"></i></a>
    </div>
    
  </div>
