<footer  style="background-image: url('assets/img/home/footer-bg.webp');">
    <div class="container">
      <a href="" class="scroll-from angle-up-btn"><i class="icon-Upperarrow"></i></a>
      <div class="row row-5">
        <div class="col-md-4 col-lg-auto">
          <div class="footer-link">
            <div class="mb-dropdown">
              <h6><a href="index.html">Home</a> <i class="icon-Downarrow"></i></h6>
              <ul class="list-block">
                <li>
                  <a aria-label="Vehicle loans" href="loan-products.html">Apply Loan</a>
                </li>
                <li>
                  <a aria-label="Open Deposit" href="deposits.html">Open Deposit</a>
                </li>
                <li>
                  <a aria-label="Product Calculator" href="product-calculator.html">Product Calculator</a>
                </li>
                <li>
                  <a aria-label="Download App" href="#">Download App</a>
                </li>

              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-auto">
          <div class="footer-link ml30 mb-ml0">
            <div class="mb-dropdown">
              <h6><a href="vehicle-loan.html">Products</a> <i class="icon-Downarrow"></i></h6>
              <ul>
                <li>
                  <a aria-label="Commercial Vehicle Loan" href="vehicle-loan.html">Commercial Vehicle Loan</a>
                </li>
                <li>
                  <a aria-label="Working Capital Loan" href="working-capital-loan.html">Working Capital Loan</a>
                </li>
                <li>
                  <a aria-label="Business Loan" href="business-loan.html">Business Loan</a>
                </li>
                <li>
                  <a aria-label="Deposits" href="deposits.html">Deposits</a>
                </li>
                <li>
                  <a aria-label="Insurance" href="insurance.html">Insurance</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-auto">
          <div class="footer-link">
            <div class="mb-dropdown">
              <h6><a href="about-us.html">About Us</a> <i class="icon-Downarrow"></i></h6>
              <ul>
                <li>
                  <a aria-label="CSR" href="csr.html">CSR</a>
                </li>
                <li>
                  <a aria-label="Investor" href="financial-information.html">Investor</a>
                </li>
                <li>
                  <a aria-label="Careers" href="careers.html">Careers</a>
                </li>
                <li>
                  <a aria-label="About Us" href="contact-us.html">Contact Us</a>
                </li>
                <li>
                  <a class="scroll-nav" aria-label="Branch locator" href="contact-us.html#branch-section">Branch Locator </a>
                </li>
                <li>
                  <a class="scroll-nav" aria-label="Collection Point" href="contact-us.html#locators-section">Collection Point</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-auto">
          <div class="footer-link">
            <div class="mb-dropdown">
              <h6><a href="media-kit.html">Media</a> <i class="icon-Downarrow"></i></h6>
              <ul>
                <li>
                  <a class="scroll-nav" aria-label="Videos" href="media-kit.html#pho-video">Videos</a>
                </li>
                <li>
                  <a class="scroll-nav" aria-label="Media Kit" href="media-kit.html#media-assets">Media Kit</a>
                </li>
                <li>
                  <a class="scroll-nav" aria-label="Ad Gallery " href="media-kit.html#ad-gallery">Ad Gallery</a>
                </li>
                <li>
                  <a class="scroll-nav" aria-label="Media Release" href="media-kit.html#media-release">Media Release</a>
                </li>
                <li>
                  <a class="scroll-nav" aria-label="Photo Gallery" href="media-kit.html#shri-sandesh">Photo Gallery</a>
                </li>
                <li>
                  <a class="scroll-nav" aria-label="News Bytes" href="media-kit.html">News Bytes</a>
                </li>
                <li>
                  <a aria-label="Recognition" href="media-kit.html">Recognition</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-auto">
          <div class="footer-link ml30 mb-ml0">
            <div class="mb-dropdown">
              <h6>Others <i class="icon-Downarrow"></i></h6>
              <ul>
                <li>
                  <a target="_blank" aria-label="Privacy policy" href="assets/pdf/Privacy-Policy.pdf">Privacy Policy</a>
                </li>
                <li>
                  <a aria-label="STFC GST Number" href="stfc-gst.html">STFC GST Number</a>
                </li>
                <li>
                  <a target="_blank" aria-label="Terms and Conditions" href="assets/pdf/Terms-and-Conditions.pdf">Terms and Conditions</a>
                </li>
                <li>
                  <a target="_blank" aria-label="Refund and Cancellation" href="assets/pdf/Refund-and-Cancellation-Policy.pdf">Refund and Cancellation</a>
                </li>
                <li>
                  <a aria-label="Quick Survey" href="quick-survey.html">Quick Survey</a>
                </li>
                <li>
                  <a aria-label="Blogs" href="article.html">Blogs</a>
                </li>
                <li>
                  <a aria-label="Sitemap" href="sitemap.html">Sitemap</a>
                </li>

              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-auto">
          <div class="footer-link">
            <div class="mb-dropdown">
              <h6>Group Companies <i class="icon-Downarrow"></i></h6>
              <ul>
                <li>
                  <a target="_blank" href="https://www.shriramcity.in/">ShriramCity Union Finance</a>
                </li>
                <li>
                  <a target="_blank" href="https://shriramhousing.in/">Shriram Housing Finance</a>
                </li>
                <li>
                  <a target="_blank" href="https://www.shriraminsight.com/">Shriram Insight</a>
                </li>
                <li>
                  <a target="_blank" href="https://www.shriramlife.com/">Shriram Life Insurance</a>
                </li>
                <li>
                  <a target="_blank" href="https://www.shriramgi.com/">Shriram General Insurance</a>
                </li>
                <li>
                  <a target="_blank" href="https://www.shriramfortune.in/">Shriram Fortune</a>
                </li>
                <li>
                  <a target="_blank" href="http://www.shriramwealth.in/">Shriram Wealth</a>
                </li>
              </ul>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="topbar">
      <div class="container">
        <div class="row">
          
          <div class="col-md-12">
            <ul class="flex social-footer">
              <li>
                <a aria-label="linkedin" href="https://www.linkedin.com/company/stfcconnect/" target="_blank">
                  <i class="icon-Linkin" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a aria-label="twitter" href="https://www.twitter.com/stfcconnect/" target="_blank">
                  <i class="icon-twitter" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a aria-label="facebook" href="https://www.facebook.com/STFCconnect" target="_blank">
                  <i class="icon-Facebook" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="copywrite card-widget"> 
    <div class="container">
      <div class="copywrite-box">
        <p>© 2021 Shriram Transport Finance Company Limited. <br class="d-block d-md-none">All rights reserved</p>
        <ul class="d-none d-md-block">
          <li>
            <a href="tel:18001034959" aria-label="Toll free number"><i class="icon-Icon_call pr5"></i> Toll Free Number - 18001034959</a>
          </li>
        </ul>
      </div>
      
    </div>
    
  </div>

  