<div class="main-menu fix-menu">
  <div class="card-widget d-block d-md-none text-center">
    <div class="container">
      <div class="copywrite-box">

        <ul class="flex">
          <li>
            <a href="tel:18001034959" aria-label="Toll free number">Toll Free Number - 18001034959</a>
          </li>
          <li>
            <a aria-label="linkedin" href="https://www.linkedin.com/company/stfcconnect/" target="_blank">
              <i class="icon-Linkin" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a aria-label="twitter" href="https://www.twitter.com/stfcconnect/" target="_blank">
              <i class="icon-twitter" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a aria-label="facebook" href="https://www.facebook.com/STFCconnect" target="_blank">
              <i class="icon-Facebook" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <nav>
    <div class="container">
      <div class="flex header-top-wrp">
        <div class="menu-toogle menu-db after-log">
          <div class="bar bar1"></div>
          <div class="bar bar2"></div>
          <div class="bar bar3"></div>
        </div>
        <div class="logo fg">
          <a href="index.html" aria-label="logo">
            <img src="assets/img/logo.webp" loading="lazy" width="262" height="106"
              alt="Shriram Transport Finance Company Ltd">
          </a>
        </div>
        <div class="links">
          <!-- FOR DESKTOP :: START-->
          <div class="topbar">
            <div class="row align-items-center">
              <div class="col-md-4 col-lg-6">
                <!-- <div class="need-help">
                  <p>Need finance to grow your business? <a href="open-fixed-deposit.html">Invest Now</a></p>
                </div> -->
              </div>
              <div class="col-md-8 col-lg-6">
                <div class="sub-menu sub-menu-desk">
                  <ul class="flex item-align-y item-center-x">
                    <li class="has-dropdown need-support">
                      <a href="#" aria-label="Need Support">Need Support <i class="icon-Downarrow"></i></a>
                      <ul class="dropdown">
                        <li>Toll Free No. - <a href="tel:18001034959">18001034959</a>.</li>
                        <li>Deposits Customer Care - <a href="tel:02241574545">02241574545</a></li>
                      </ul>
                    </li>
                  </ul>
                  <ul class="flex social-header">
                    <li>
                      <a aria-label="linkedin" href="https://www.linkedin.com/company/stfcconnect/" target="_blank">
                        <i class="icon-Linkin" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a aria-label="twitter" href="https://www.twitter.com/stfcconnect/" target="_blank">
                        <i class="icon-twitter" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a aria-label="facebook" href="https://www.facebook.com/STFCconnect" target="_blank">
                        <i class="icon-Facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="transform0  deposits-menu-show">
                      <a href="login.html" class="btn-login" aria-label="LOGIN">Login</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- FOR DESKTOP :: END-->
          <div class="close nav-close"><i class="icon-Delete"></i></div>
          <!--::PRE-LOGIN FOR MOBILE :: START-->
          <ul class="flex align-items-end mobile-sub-menu mob-mar-t40 before-log">

            <li>
              <a href="index.html" aria-label="Home">Home</a>
            </li>
            <li>
              <a href="vehicle-loan.html" aria-label="Products">Products</a>
            </li>
            <li>
              <a href="financial-information.html" aria-label="Investor">Investor</a>
            </li>
            <li>
              <a href="about-us.html" aria-label="About Us">About Us </a>
            </li>
            <li>
              <a href="contact-us.html" aria-label="Contact Us">Contact Us</a>
            </li>
            <li>
              <a href="fastag.html" aria-label="Fastag">Fastag</a>
            </li>
            <li>
              <a href="quick-payment.html" aria-label="Quick Payment">Quick Payment</a>
            </li>
            <li>
              <a href="login.html" class="btn-primary" aria-label="Login">Login</a>
            </li>

          </ul>
          <!--::PRE-LOGIN FOR MOBILE :: END-->
          <!--::POST-LOGIN FOR MOBILE :: START-->
          <ul class="flex align-items-end mobile-sub-menu mob-mar-t40 after-log">
            <li>
              <a href="dashboard.html" aria-label="Dashboard">Dashboard</a>
            </li>
            <li>
              <a href="my-loan-home.html" aria-label="My Loans">My Loans</a>
            </li>
            <li>
              <a href="my-deposit-summary.html" aria-label="My Deposits">My Deposits</a>
            </li>
            <li>
              <a href="my-insurance-summary.html" aria-label="My Insurance">My Insurance</a>
            </li>
            <li>
              <a href="fastag.html" aria-label="Fastag">Fastag</a>
            </li>
            <li class="my-loan-menu-show">
              <a href="myloan-payothers.html" aria-label="Pay For Others">Pay For Others</a>
            </li>
            <li>
              <a href="quick-payment.html" aria-label="Quick Payment">Quick Payment</a>
            </li>
            <li>
              <a href="new-loan.html" class="btn-login-outline" aria-label="Apply Online">Apply Online</a>
            </li>
            <li>
              <a href="login.html" class="btn-primary" aria-label="Apply Online">Logout</a>
            </li>

          </ul>
          <!--::POST-LOGIN FOR MOBILE :: END-->
          <!-- FOR DESKTOP :: START-->
          <div class="d-none d-md-block">
            <div class="header-top before-login">
              <ul class="flex links-left">
                <li>
                  <a href="index.html" aria-label="Home">Home</a>
                </li>
                <li>
                  <a href="vehicle-loan.html" aria-label="Products">Products</a>
                </li>
                <li>
                  <a href="financial-information.html" aria-label="Investor">Investor</a>
                </li>
                <li>
                  <a href="about-us.html" aria-label="About Us">About Us </a>
                </li>
                <li>
                  <a href="contact-us.html" aria-label="Contact Us">Contact Us</a>
                </li>
              </ul>
              <ul class="flex links-right">
                <li class=rtl-color>
                  <a href="fastag.html" aria-label="Fastag">Fastag</a>
                </li>
                <li class=rtl-color>
                  <a href="quick-payment.html" aria-label="Quick Payment">Quick Payment</a>
                </li>
                <li class="deposits-menu">
                  <a href="login.html" class="btn-login" aria-label="LOGIN">Login</a>
                </li>
              </ul>
            </div>
            <div class="header-top after-login">
              <ul class="flex links-left">
                <li>
                  <a href="dashboard.html" aria-label="Dashboard">Dashboard</a>
                </li>
                <li>
                  <a href="my-loan-home.html" aria-label="My Loans">My Loans</a>
                </li>
                <li>
                  <a href="my-deposit-summary.html" aria-label="My Deposits">My Deposits</a>
                </li>
                <li>
                  <a href="my-insurance-summary.html" aria-label="My Insurance">My Insurance</a>
                </li>
                <li class="my-loan-menu-hide">
                  <a href="fastag.html" aria-label="Fastag">Fastag</a>
                </li>
              </ul>
              <ul class="flex links-right links-dashboard">
                <li class="my-loan-menu-show">
                  <a href="fastag.html" aria-label="Fastag">Fastag</a>
                </li>
                <li class="my-loan-menu-show">
                  <a href="myloan-payothers.html" aria-label="Pay For Others">Pay For Others</a>
                </li>
                <li class="my-loan-menu-hide">
                  <a href="new-loan.html" class="btn-login-outline" aria-label="Apply Online">Apply Online</a>
                </li>
                <li>
                  <a href="#" class="sm-icon notification-btn bell" aria-label="Notification">
                    <span></span>
                    <i class="icon-Mask-Group-520"></i>
                  </a>
                </li>
                <li>
                  <a href="#" class="sm-icon profile-btn" aria-label="Quick Payment">
                    <i class="icon-service"></i>
                  </a>
                </li>

              </ul>
            </div>
          </div>
          <!-- FOR DESKTOP :: END-->
        </div>
        <!-- FOR MOBILE :: START-->
        <div class="menu-toogle mr0 before-log">
          <div class="bar bar1"></div>
          <div class="bar bar2"></div>
          <div class="bar bar3"></div>
        </div>
        <ul class="flex links-right links-dashboard after-log">
          <li>
            <a href="#" class="sm-icon notification-btn bell" aria-label="Notification">
              <span></span>
              <i class="icon-Mask-Group-520"></i>
            </a>
          </li>
          <li>
            <a href="#" class="sm-icon profile-btn" aria-label="Quick Payment">
              <i class="icon-service"></i>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</div>
<div class="after-login">
  <!--NOTIFICATION :: START-->
  <div class="notification-centre notification-section">
    <div class="shadow-border">
      <div class="note-header">
        <h5 class="subtitle-3">Notification Center</h5>
        <a href="#" class="noti-close"><i class="icon-Delete" aria-hidden="true"></i></a>
      </div>

      <div class="tab">
        <button class="tablinks active" onclick="openCity(event, 'All')">All</button>
        <button class="tablinks" onclick="openCity(event, 'Transaction')">Transaction</button>
        <button class="tablinks" onclick="openCity(event, 'Action')">Need Action</button>
        <button class="tablinks" onclick="openCity(event, 'Recommend')">Recommend</button>
      </div>

      <div id="All" class="tabcontent" style="display: block;">
        <div class="today-style border-bottom">
          <h4>Today</h4>
          <div class="dis-today">
            <h5>EMI Payment <span class="green-color">Successful</span></h5>
            <p class="gray-color">Your July month’s EMI of Rs 12,000 towards Vehicle Loan KALNYT901230002 is
              successfully done</p>
            <i class="icon-Rightarrow blue-color"></i>
          </div>
          <div class="dis-today">
            <h5>Revolving Loan Repayment <span class="green-color">Successful</span></h5>
            <p class="gray-color">Repayment of Revolving loan utilised credit of Rs 20,000 is successfully done.</p>
            <i class="icon-Rightarrow blue-color"></i>
          </div>
          <div class="dis-today">
            <h5>Pay Processing Fee</h5>
            <p class="gray-color">Your processing fee of Rs. 5,000 towards new vehicle loan is due. Please pay so we can
              process the loan further. Pay Now…</p>
            <i class="icon-Rightarrow blue-color"></i>
          </div>
        </div>
        <div class="card6">
          <span id="dots6"></span>
          <div class="today-style yes-style">
            <h4>Yesterday</h4>
            <div class="dis-today">
              <h5>Update KYC in New Deposit</h5>
              <p class="gray-color">Your July month’s EMI of Rs 12,000 towards Vehicle Loan KALNYT901230002 is
                successfully done</p>
              <i class="icon-Rightarrow blue-color"></i>
            </div>
            <div id="showmore">
              <div class="dis-today">
                <h5>Update KYC in New Deposit</h5>
                <p class="gray-color">Your July month’s EMI of Rs 12,000 towards Vehicle Loan KALNYT901230002 is
                  successfully done</p>
                <i class="icon-Rightarrow blue-color"></i>
              </div>
            </div>
          </div>

          <p class="text-center mob-margin-bottom-0 pb0"><button class="blue-color showmore"
              onclick="myFunction6(event)" id="button6">Show More</button></p>
        </div>
      </div>

      <div id="Transaction" class="tabcontent" style="display: none;">
        <div class="today-style border-bottom">
          <h4>Today</h4>
          <div class="dis-today">
            <h5>EMI Payment <span class="green-color">Successful</span></h5>
            <p class="gray-color">Your July month’s EMI of Rs 12,000 towards Vehicle Loan KALNYT901230002 is
              successfully done</p>
            <i class="icon-Rightarrow blue-color"></i>
          </div>
          <div class="dis-today">
            <h5>Revolving Loan Repayment <span class="green-color">Successful</span></h5>
            <p class="gray-color">Repayment of Revolving loan utilised credit of Rs 20,000 is successfully done.</p>
            <i class="icon-Rightarrow blue-color"></i>
          </div>
        </div>
        <div class="card6">
          <span id="dots6"></span>
          <div class="today-style yes-style">
            <h4>19 Dec 2020</h4>
            <div class="dis-today">
              <h5>Fastag Recharge <span class="green-color">Successful</span></h5>
              <p class="gray-color">Recharge of rs 2,000 towards Fastag ID 172536516235 of Vehicle no GJ05RK3182 is
                successful.</p>
              <i class="icon-Rightarrow blue-color"></i>
            </div>
            <div class="dis-today">
              <h5>Fuel Transaction <span class="red-color">Failed</span></h5>
              <p class="gray-color">Fuel Transaction of Rs 8,000 at Mehta Petrol pump, Surat has been failed. Please
                review the transaction and repay again</p>
              <i class="icon-Rightarrow blue-color"></i>
            </div>
            <div id="showmore">
              <div class="dis-today">
                <h5>Fuel Transaction <span class="red-color">Failed</span></h5>
                <p class="gray-color">Fuel Transaction of Rs 8,000 at Mehta Petrol pump, Surat has been failed. Please
                  review the transaction and repay again</p>
                <i class="icon-Rightarrow blue-color"></i>
              </div>
            </div>
          </div>

          <p class="text-center mob-margin-bottom-0 pb0"><button class="blue-color showmore"
              onclick="myFunction6(event)" id="button6">Show More</button></p>
        </div>
      </div>

      <div id="Action" class="tabcontent" style="display: none;">
        <div class="today-style yes-style text-center no-action">
          <div class="dis-today">
            <h5><span class="green-color">No Action Required!</span></h5>
            <img src="assets/img/dashboard/bg_pop_action.webp" width="282" height="184" alt="" />
            <p class="gray-color m-auto">
              It’s all good here,<br />
              Looks like no action is required…
            </p>
          </div>
        </div>
      </div>

      <div id="Recommend" class="tabcontent" style="display: none;">
        <div class="today-style border-bottom">
          <div class="dis-today">
            <h5>Use your credit limit worth of Rs.50,000</h5>
            <p class="gray-color">Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an
              unknown printer took a galley of type and</p>
            <i class="icon-Rightarrow blue-color"></i>
          </div>
          <div class="dis-today">
            <h5>Use 4000 Rs credit for Cashless refuelling</h5>
            <p class="gray-color">Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an
              unknown printer took a galley of type and</p>
            <i class="icon-Rightarrow blue-color"></i>
          </div>
          <div class="dis-today">
            <h5>Open Deposit Now</h5>
            <p class="gray-color">Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an
              unknown printer took a galley of type and</p>
            <i class="icon-Rightarrow blue-color"></i>
          </div>
          <div class="dis-today">
            <h5>Renew your vehicle insurance</h5>
            <p class="gray-color">Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an
              unknown printer took a galley of type and</p>
            <i class="icon-Rightarrow blue-color"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--NOTIFICATION :: END-->
  <!--PROFILE :: START-->
  <div class="profile-section notification-centre quick-ser">
    <div class="shadow-border">
      <div class="note-header">
        <h5 class="subtitle-3">Quick Services</h5>
        <a href="#" class="profile-close"><i class="icon-Delete" aria-hidden="true"></i></a>
      </div>
      <div class="re-pad">
        <a href="#" class="emi-dblock qpay">
          <div class="emi-profile emi-profile-sm card-shadow profile-font-size">
            <div class="emi-profile-img pr0">
              <img src="assets/img/profile.webp" alt="" />
            </div>

            <div class="emi-details unset-grow">
              <p>Relationship Executive</p>
              <h3 class="subtitle-2 user-name">Shyam Sundar</h3>
            </div>
            <div class="emi-agreement">
              <p>Relationship Executive’s Contact</p>
              <h3 class="subtitle-2">9090987878</h3>
            </div>
          </div>
        </a>
        <ul class="download-li">
          <li>
            <a class="blue-color b-none" href="myloan-payothers.html">Pay For Other</a>
          </li>
          <li>
            <a class="blue-color b-none" href="claim-intimation.html">Claim Intimation</a>
          </li>
          <li>
            <a class="blue-color b-none" href="my-profile-deposit.html">My Profile</a>
          </li>
          <li>
            <a class="blue-color b-none" href="tax-tds-certificate.html#bod-cnt_1">Tax Centre</a>
          </li>
        </ul>
        <ul class="svg-li">
          <li>
            <a href="complaint-status.html">
              <span><img src="./assets/img/Icons_svg/icon_reqstatus.svg" width="20" height="21" /></span>

              Request Status
            </a>
          </li>
          <li>
            <a href="contact-us-post.html#locators-section">
              <span><img src="./assets/img/Icons_svg/icon_collection1.svg" width="20" height="21" /></span>

              Collection Points Locator
            </a>
          </li>
          <li>
            <a href="contact-us-post.html#branch-section">
              <span><img src="./assets/img/Icons_svg/icon-branch1.svg" width="20" height="21" /></span>

              Branch Locator
            </a>
          </li>
          <li>
            <a href="contact-us-post.html#complaints-section">
              <span><img src="./assets/img/Icons_svg/icon_complient.svg" width="20" height="21" /></span>

              File A Complaint
            </a>
          </li>
          <li>
            <a href="contact-us-post.html">
              <span><img src="./assets/img/Icons_svg/icon_contact1.svg" width="20" height="21" /></span>

              Contact Us
            </a>
          </li>
          <li>
            <a href="update-password.html">
              <span><img src="./assets/img/Icons_svg/icon-pass.svg" width="20" height="21" /></span>

              Update Password
            </a>
          </li>
          <li>
            <a href="alerts.html">
              <span><img src="./assets/img/Icons_svg/icon_alert.svg" width="20" height="21" /></span>

              Alerts
            </a>
          </li>
        </ul>
        <div class="text-center">
          <a href="index.html"><button class="primary-btn">Logout</button></a>
        </div>
      </div>
    </div>
  </div>
  <!--PROFILE :: END-->
</div>