
body {
    margin: 0;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;   
    padding-top: 99px; 
    @media (max-width: 767px){
        padding-top: 84px;
    } 
    @media (min-width: 768px) and (max-width: 991px){
        padding-top: 107px;
    } 
    @media (min-width: 992px) and (max-width: 1199px){
        padding-top: 112px;
    }
    @media (min-width: 1200px) and (max-width: 1699px){
        padding-top: 98px;
    } 
}
*, ::after, ::before {
    box-sizing: border-box;
} 
a{
    text-decoration: none; 
}
img{
    max-width: 100%;
}
table{
    z-index: 1;
    position: relative;
}
@import 'components/fonts', 'components/grid';
//Container Fluid
.container-fluid{
    padding-right: 17.5px;
    padding-left: 17.5px;
}
.container-left{
    padding-left: calc(100vw / 2 - 1320px / 2 + 17.5px);
    padding-right: 0;
    @media (min-width: 576px){
        padding-left: calc(100vw / 2 - 540px / 2 + 17.5px);
        padding-right: calc(100vw / 2 - 540px / 2 + 17.5px);
    }
    @media (min-width: 768px){
        padding-left: calc(100vw / 2 - 720px / 2 + 17.5px);
        padding-right: 0;
    }
    @media (min-width: 992px){
        padding-left: calc(100vw / 2 - 960px / 2 + 17.5px);
        padding-right: 0;
    }
    @media (min-width: 1200px){
        padding-left: calc(100vw / 2 - 1140px / 2 + 17.5px);
        padding-right: 0;
    } 
    @media (min-width: 1350px){
        padding-left: calc(100vw / 2 - 1170px / 2  + 7.5px);
        padding-right: 0;
    }  
    @media (min-width: 1700px){
        padding-left: calc(100vw / 2 - 1670px / 2 + 17.5px);
        padding-right: 0;
    }
}
.container-right{
    padding-right: calc(100vw / 2 - 1320px / 2 + 17.5px);
    padding-left: 0;
    @media (min-width: 576px){
        padding-right: calc(100vw / 2 - 540px / 2 + 17.5px);
        padding-left: calc(100vw / 2 - 540px / 2 + 17.5px);
    }
    @media (min-width: 768px){
        padding-right: calc(100vw / 2 - 720px / 2 + 17.5px);
        padding-left: 0;
    }
    @media (min-width: 992px){
        padding-right: calc(100vw / 2 - 960px / 2 + 17.5px);
        padding-left: 0;
    }
    @media (min-width: 1200px){
        padding-right: calc(100vw / 2 - 1140px / 2 + 17.5px);
        padding-left: 0;
    } 
    @media (min-width: 1350px){
        padding-right: calc(100vw / 2 - 1170px / 2  + 7.5px);
        padding-left: 0;
    }  
    @media (min-width: 1700px){
        padding-right: calc(100vw / 2 - 1670px / 2 + 17.5px);
        padding-left: 0;
    }
}
//Container//
.container{
    width: 100%;
    padding-right: 17.5px;
    padding-left: 17.5px;
    margin-right: auto;
    margin-left: auto;
    @media (min-width: 576px){
        max-width: 540px;
    }
    @media (min-width: 768px){
        max-width: 720px;
    }
    @media (min-width: 992px){
        max-width: 960px;
    }
    @media (min-width: 1200px){
        max-width: 1140px;
    } 
    @media (min-width: 1350px){
        max-width: 1170px;
    }  
    @media (min-width: 1700px){
        max-width: 1670px;
    }
}
.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.align-items-center {
    -ms-flex-align: center;
    align-items: center;
}
.align-items-end {
    -ms-flex-align: flex-end;
    align-items: flex-end;
}
.align-self-end{
    align-self: flex-end;
}
.card{
    border: 1px solid #000;
    background-color: #fff;
}
.shadow{
    box-shadow: 1px 1px 8px rgba(0 ,0, 0, 0.08);
}
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.shadow0{
    box-shadow: none!important;
}
.d-block{
    display: block!important;
}
.d-none{
    display: none!important;
}
.d-md-none{    
    @media (min-width: 768px){
        display: none!important;
    }
}
.d-md-block{    
    @media (min-width: 768px){
        display: block!important;
    }
}
.d-lg-none{
    @media (min-width: 991px){
        display: none!important;
    }
}
.d-lg-block{
    @media (min-width: 992px){
        display: block!important;
    }
}
.text-right{
    text-align: right;
}
.text-md-right{
    @media (min-width: 768px){
        text-align: right!important;
    }
}
.text-center{
    text-align: center;
}
.no-gutters{
    margin: 0;
    > div{
        padding :0; 
    }
}
.c-reverse{    
    @media (max-width: 767px){
        flex-direction: column-reverse;
    }
}
.c-no-reverse{    
    @media (max-width: 767px){
        flex-direction:inherit;
    } 
}
.row-5{
    margin: 0 -5px;
    >div{
        padding:0 5px;
    }
}
.row-mob-5{
    @media (max-width: 767px){
        margin: 0 -5px;
        >div{
            padding:0 5px;
        }
    }
}
.section-padding{
    padding: 60px 0;
}
.section-padding-sm{
    padding: 40px 0;
    @media (max-width: 767px){
        padding: 20px 0;
    }
}
.section-padding-xs{
    padding: 25px 0;
    @media (max-width: 767px){ 
        padding: 20px 0; 
    }
}
.section-padding-bottom-xs{
    padding: 25px 0;
    
}
h1, h2, h3, h4, h5, h6{
    margin: 0 0 15px;
    letter-spacing: .4px;
}
.font-sm{
    font-size: 14px;
    padding-bottom: 10px;
}

.btn{
    padding: 7px 16px;
    border-radius: 3px;
    font-size: 14px;
    transition: .3s ease-in-out;
    cursor: pointer;
    &:hover{
        transition: .3s ease-in-out;
    }
}
.btn-primary{
    background-color: #FFC600;
    color: #000000;
    border: 1px solid #FFC600;
    border: 1px solid $text-lyellow;
    background: linear-gradient(to right, #fff 50%, $text-lyellow 50%);
    background-size: 220% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    &:hover{
        color: #000;
        background-position: left bottom;
    }
    &:focus{
        color: #000;
        background-position: left bottom;
    }
}
.btn-secondary{
    background-color: transparent;
    color: #009FFD;
    border: 1px solid #009FFD;
    background: linear-gradient(to right, $text-blue 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    &:hover{
        color: #fff;
        background-position: left bottom;
    }
    &:focus{
        color: #fff;
        background-position: left bottom;
    }
}
.btn-inline{
    .btn{
        margin-right: 15px;
    }
}
.link{
    color: #009FFD;
    font-size: 15px;
    text-decoration: underline;
}
.pt0{
    padding-top: 0;
}
// .pb15{
//    // padding-bottom: 15px;
// }
.pl5{
   padding-left: 5px;
 }
.mb0{
    margin-bottom: 0!important;
}
.mr15{
    margin-right: 15px;
}
.mb-pt0{
    @media (max-width: 767px) {
      padding-top: 0!important;
    }
}
.mb-pl15{
    @media (max-width: 767px) {
      padding-left: 15px;
    }
}
.mb-mt0{
    @media (max-width: 767px) {
        margin-top: 0!important;
    }
}
.mb-mb0{
    @media (max-width: 767px) {
        margin-bottom: 0!important;
    }
}
.mb-sm20{
    @media(min-width: 768px) and (max-width: 991px){
        margin-bottom: 20px;
    }
}
.pr0{
    padding-right: 0!important;
}
.pt20{
    padding-top: 20px !important;
}
.pb10{
    padding-bottom: 10px !important;
}
.mr5{
    margin-right: 5px !important;
}
.mr0{
    margin-right: 0!important;
}
.mb20{
    margin-bottom: 20px;
}
.mb-mb20{
    @media (max-width: 767px) {
        margin-bottom: 20px;
    }
}

.pt8{
    padding-top: 8px; 
}
.mb-m0{
    @media (max-width: 767px) {
        margin: 0px!important;
    }
}
.mb-pl0{
    @media (max-width: 767px) {
        padding-left: 0px!important;
    }
}
.heading-sm{
    padding-bottom: 21px;
    @media (min-width: 1799px) {
        padding-bottom: 30px;
    }
    @media(max-width: 767px){
        padding-bottom: 10px;
    }
}
.order1{
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 1;
    order: 1;
}
.p-0{
    padding: 0px !important;
  }
  .px-0{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .py-0{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .m-0{
    margin: 0 !important;
  }
  .border-top-sm0{
      @media(max-width:767px){
          border-top: 0!important;
      }
  }

  /* width */
.bod-right-inner::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .bod-right-inner::-webkit-scrollbar-track {
    border-radius: 7px;
  }
   
  /* Handle */
  .bod-right-inner::-webkit-scrollbar-thumb {
    background: #B7B7B7 ;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .bod-right-inner::-webkit-scrollbar-thumb:hover {
    background: #ffc600; 
  }

  .radio-group .radio-par{
    margin-right: 20px;
}
.upload-file{
    span{
        @media(max-width:767px){
            display: block;
            margin-top: 10px;
        }
         
    }
}

// @media(min-width:1700px){
//     img{
//         // width: 100%;
//         width: auto;
//     }
// }

.user-icon-style{
    height: 35px !important;
    vertical-align: bottom;
}
.radio-group1{
    .radio-par{
        margin-right: 30px;
    }
}

@media(max-width: 767px){
    .mob-text-left{
        text-align: left !important;
    }
    .mob-user-icon{
        vertical-align: middle;
    }
}

html{
    height: 100%;
  box-sizing: border-box;
}
body{
    position: relative;
    margin: 0;
    min-height: 100%;
}
body.post-login-page{
    padding-bottom: 4rem;
    overflow-x: hidden;
}
.copywrite.card-widget.footer-sm{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
