
footer{
    padding: 50px 0px;
    background: #f7f7f7;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    .row{
      justify-content: space-between;
      @media(max-width:991px){
        justify-content: start;
      }
    }
    ul{
        padding: 0px;
        margin: 0px;
        li{
            list-style-type: none;
            a{
            color: #000;
            font-size: 14px;
            font-weight: 400;
            position: relative;
            text-decoration: none;
            margin-bottom: 11px;
            display: inline-block;
            @media(min-width: 1700px){
              font-size: 16px;
            }
            }
        }
    }
}
.copywrite.card-widget, .card-widget{
    background: #000;
    color: #fff;
    padding: 18px 0;
    @media(max-width:767px){
      padding: 6px 0;
    }
    
    p{
        margin: 0;
        font-size: 14px;
        padding-bottom: 0;
        color: #fff;
        @media(max-width:767px){
          margin-bottom: 0px;
          font-size: 12px;
          line-height: 20px;
        }
        @media(min-width: 1700px){
          font-size: 16px;
        }
    }
    ul{
        margin: 0;
        padding: 0;
        li{
            list-style-type: none;
        }
    }
    a{
        color: #fff;
        text-decoration: none;
        font-size: 14px;
      
          i,span{
            margin-right: 5px
          }
       
        @media(max-width:767px){
          font-size: 12px;
          line-height: 10px;
        }
        @media(min-width: 1700px){
          font-size: 16px;
        }
    }
    .copywrite-box{
        display: flex;
        justify-content: space-between;
        @media(max-width:767px){
          justify-content: start;
          ul{
            width: 100%;
            text-align: left;
            li{
              &:first-child{
                flex-grow: 1;
              }
              
            }
            a{
              span{
                margin-right: 5px;
              }
            }
            li + li{
              margin-left: 7px;
              i{
                font-size: 18px;
              }
            }
          }
        }
    }
}

footer {
  padding: 55px 0px 55px 0px;
  background-position: bottom right;
  position: relative;
  
  @media (max-width: 767px) {
    padding: 20px 0px 76px 0px;
    background-size: 190%;
    background-position: bottom center;
    background-color: #f7f7f7;
    
  }
  .social-footer{
    text-align: right;
    justify-content: flex-end;
    @media (max-width: 767px) {
      justify-content: center;
      padding: 20px 0!important;
    }
    @media (max-width: 991px) {
      justify-content: center;
      padding: 10px 0;
    }
    li{
      padding-left: 25px;
      transition: 0.3s;
      &:hover{
        transform: translateY(-4px);
        transition: 0.3s;
    }
      @media (max-width: 767px) {
        padding: 0 10px;
      }
      a{
        margin: 0;
      }
    }
    i{
      font-size: 22px;
      
    top: 3px;
    position: relative;
    @media (max-width: 767px) {
      font-size: 20px;
    }
    &:hover{
      color: #009ffd;
    }
    }
  }
  .footer-link {
    h5{
      font-size: 14px;
      margin-top: 10px;
      margin-bottom: 18px;
      font-weight: 700;
      @media (max-width: 767px) { 
        font-size: 14px;
        display: flex;
      }
      @media(min-width:1700px){
        font-size: 20px;
      }
      a{
        color: #000;
      }
    }
    h6 {
      font-size: 14px;
      color: #000;
      margin-top: 10px;
      font-weight: 700;
      position: relative;
      margin-bottom: 22px;
      @media (max-width: 767px) {
        padding-bottom: 5px;
        position: relative;
        font-size: 14px;
        font-weight: 500;
        padding-left: 0px;
        margin-bottom: 8px;
       
        a{
          flex-grow: 1;
        }
      }
      a{
        color: #000;
      }
      @media(min-width:1700px){
        font-size: 16px;
      }
      i {
        opacity: 0;
        @media (max-width: 767px) {
          opacity: 1;
          padding: 3px 6px;
          position: absolute;
          right: -6px;
          top: 0px;
          -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
          font-weight: 600;
          line-height: 17px;
          font-size: 20px;
        }
      }
    }
    i.f-toggled {
      transform: rotate(180deg); 
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
      
      //top: -2px;
    }
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      @media (max-width: 767px) {
        display: none;
        padding-left: 0px;
        padding-top: 5px;
      }
      li {
        margin-bottom: 5px;
        a {
          font-size: 16px;
          font-weight: 400;
          position: relative;
          @media (max-width: 1699px) {
            font-size: 14px;
          }
          @media(min-width:1700px){
            font-size: 16px;
          }
          &:hover {
            color: #000 !important;
          }
        }
      }
    }
  }
}
@media(max-width: 767px){
    .copywrite{
        padding: 15px 0px;
    }
    .copywrite .copywrite-box{
        flex-direction: column;
        font-size: 13px;
        text-align: center;
    }
    .d-mob-block{
        display: block;
    }
    .mob-flex{
      display: flex;
      justify-content: space-between;
    }
}
.social-footer{
  justify-content: flex-end;
}  
.group-companies{
   @media(min-width:1200px){
    padding-right: 70px!important;
   }
}
.footer-sm{
  position: relative;
  @media(min-width:992px){
    margin-top: 70px;
   }
  .angle-up-btn{
    position: absolute;
    top: 9px;
    @media(min-width:768px) and (max-width:991px){
      top: 8px;
      right: 3px;
    }
    @media(min-width:992px) and (max-width:1199px){
      top: -27px;
    }
  }
}
.open_body{
  padding-bottom: 4rem;
    overflow-x: hidden;
}
