// Header :: START
.overlay {
    position: fixed;
    top: 0;
    left: 280px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    z-index: -1;
    opacity: 0;
}

.show-nav {
    .overlay {
        transition: .9s ease-in-out;
        z-index: 999;
        opacity: 1;
    }
}

header {
   
    nav {
        padding: 10px 0;
        padding-top: 0;
        @media(max-width: 767px) {
            padding: 9px 0!important;
            .btn-primary, .btn-login-outline {
                padding: 4px 22px!important;
                margin: 10px 16px;
                border-radius: 0;
            }
        }
        .logo {
            img {
                height: auto;
                width: 158px;
                @media(max-width: 767px) {
                    width: 88px;
                }
                @media(min-width:768px) and (max-width:1199px) {
                    width: 125px;
                }
                
            }
        }
        .header-top-wrp{
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            align-items: flex-end;
            
            @media(max-width: 767px) {
                align-items: center;
            }
        
            .links {
                width: 100%;
                .header-top{
                    display: flex;
                    align-items: center;
                    @media(min-width:1200px){
                        padding-left: 25px;
                    }
                  
                }
                .links-left{
                    flex-grow: 1;
                    li{
                        a{
                            background: linear-gradient(to right, $text-lyellow 50%, #000 50%);
                            background-clip: text;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            background-size: 200% 100%;
                            background-position: 100%;
                            transition: background-position 275ms ease;
                            text-decoration: none;
                            &:hover{
                                background-position: 0 100%;
                            }
                        }
                    }
                }
                .links-right{
                    align-items: center;
                    li.rtl-color{
                        a{
                            background: linear-gradient(to right, $text-lyellow 50%, #000 50%);
                            background-clip: text;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            background-size: 200% 100%;
                            background-position: 100%;
                            transition: background-position 275ms ease;
                            text-decoration: none;
                            &:hover{
                                background-position: 0 100%;
                            }
                        }
                    }
                }
                ul {
                    margin: 0;
                    padding: 0;
                    &.dropdown{
                        border-radius: 0 0 5px 5px;
                        li{
                            padding: 8px 7px;
                            &:last-child{
                                border-radius: 0 0 5px 5px;
                            }
                        }
                    }
                    li {
                        margin-left: 39px;
                        list-style: none;
                        position: relative;
                        @media screen and (min-device-width: 992px) and (max-device-width: 1199px) {
                            margin-left: 20px;
                        }
                        @media(max-width: 991px) {
                            margin-left: 10px;
                        }
                        a {
                            font-size: 14px;
                            color: #000000;
                            font-weight: 500;
                            &.active, &:hover{
                                color: $text-lyellow;
                            }
                            @media(min-width:1300px){
                                font-size: 16px;
                              }
                              @media(min-width:1700px){
                                  font-size: 18px;
                              }
                            i {
                                transition: .3s ease-in-out;
                            }
                        }
                        @media(min-width:768px) and (max-width:991px){
                            a{
                                font-size: 13px;
                            }
                        }
                    }
                    @media(max-width:767px) {
                        .toggled {
                            a {
                                i {
                                    transform: rotate(180deg);
                                    transition: .3s ease-in-out;
                                }
                            }
                        }
                    }
                }
                @media(max-width:767px) {
                    z-index: 999;
                    position: fixed;
                    width: 280px;
                    left: -280px;
                    top: 0px;
                    background: #fff;
                    -webkit-transition: .4s ease-in-out;
                    transition: .4s ease-in-out;
                    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.46);
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.46);
                    height: 100vh;
                    overflow-y: scroll;
                    ul {
                        flex-wrap: wrap;
                        li {
                            width: 100%;
                            padding: 0;
                            border-bottom: 1px solid #e0dfdf;
                            margin-left: 0;
                            .login-mobile{
                                flex-grow: 1;
                            }
                            a {
                                padding: 16px 16px;
                                display: block;
                                &.btn-primary{
                                    display: inline-block;
                                }
                                &.btn-login-outline{
                                    display: inline-block;
                                }
                            }
                            .for-dropdown-mob {
                                padding: 0;
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0px;
                                i {
                                    padding: 12px 16px;
                                }
                            }
                            &:last-child {
                                border-bottom: none;
                            }
                        }
                    }
                }
                .mobile-sub-menu {
                    @media(min-width: 767px) {
                        display: none;
                    }
                    background-color: #fff;
                    @media(max-width:767px) {
                        background-color: #ffffff;
                    }
                    li {
                        border-bottom: 1px solid #fde65c;
                        @media(max-width: 767px) {
                            border-color: #e0dfdf;
                        }
                        .dropdown {
                            background-color: #fff19d;
                            @media(max-width: 767px) {
                                background-color: #ffffff;
                            }
                        }
                    }
                }
                
            }
            .topbar {
                padding: 0;
                @media(max-width: 767px) {
                   display: none;
                    padding: 5px 0;
                }
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    justify-content: flex-start;
                    @media(max-width: 767px) {
                        justify-content: flex-end;
                    }
                    li {
                        padding-left: 25px;
                        margin: 0;
                        @media(max-width: 767px) {
                            padding-left: 15px;
                        }
                        @media(min-width:768px) and (max-width:991px){
                            padding: 3px;
                            padding-left: 10px;
                        }
                        &.has-dropdown{
                            a{
                                i{
                                    font-size: 24px; 
                                    padding-left: 6px;
                                    position: relative;
                                    top: 7px;
                                    line-height: 2px;
                                }
                            }
                        }
                        a {
                            color: $text-gray;
                            font-size: 12px;
                            font-weight: 500;
                            @media(max-width: 767px) {
                                font-size: 16px;
                            }
                            @media(min-width:1400px){
                                // font-size: 14px;
                              }
                            //   @media(min-width:1700px){
                            //       font-size: 20px;
                            //   }
                            i{
                                font-size: 22px;
                                top: 3px;
                                position: relative;
                                //   @media(min-width:1700px){
                                //       font-size: 24px;
                                //   }
                            }
                        }
                    }
                }
            }
            .links-dashboard{
                padding-left: 0;
                padding-right: 15px;
                @media(max-width: 767px) {
                    list-style: none;
                    margin: 0; 
                    padding-right: 0px;
                }
                li{
                    margin-left: 0!important;
                    &:last-child{
                        a.sm-icon{
                           // padding-right: 0;
                        }
                    }
                    a{
                        display: block;
                    }
                    a.sm-icon{
                        padding: 0px 10px;
                        @media(max-width: 767px) {
                            padding: 3px 5px;
                        }
                        position: relative;
                        span{
                            position: absolute;
                            top: 5px;
                            left: 13px;
                            width: 9px;
                            height: 9px;
                            background: $text-yellow;
                            border-radius: 20px;
                            @media(max-width: 767px) {
                                left: 8px;
                            }
                        }
                        i{
                            font-size: 28px;
                        }
                    }
                }
            }
        }
       
        
        .menu-toogle {
            display: block;
            cursor: pointer;
            width: 25px;
            margin-left: auto;
            //margin-right: 20px;
            box-sizing: content-box;
            padding: 10px 25px;
            padding-right: 0;
            @media(min-width: 768px) {
                display: none;
            }
            .bar {
                width: 100%;
                height: 3px;
                background-color: #000000;
                margin-bottom: 4px;
                margin: 0 0 4px auto;
                &:last-child {
                    margin: 0 0 0px auto;
                }
            }
        }
    }
    
    .main-menu {
        background-color: #ffffff;
        z-index: 9;
        box-shadow: 0 3px 7px rgba(0, 0, 0, .05);
        @media(max-width: 991px) {
            position: fixed;
            top: 0;
            width: 100%;
            left: 0;
        }
    }
    .fix-menu {
        position: fixed;
        top: 0;
        width: 100%;
        left: 0;
        transition: .5s ease-in-out;
        border-bottom: 2px solid #ffc600;
        box-shadow: 0px 2px 4px rgba(255, 198, 0, 0.42);
        padding: 40px 0;
        padding-top: 25px;
        z-index: 999;
        @media(max-width: 767px) {
            transition: none;
            padding: 0;
            box-shadow: none;
        }
        @media(min-width:768px) and (max-width:1199px){
            padding: 20px 0;
            padding-top: 15px;
        }
        @media(min-width:1200px){
            padding: 13px 0;
            padding-top: 4px;
        }
        nav {
            padding: 0;
            padding-top: 0;
            transition: .4s ease-in-out;
            @media(max-width: 767px) {
                transition: none;
                padding: 7px 0;
            }
            .logo {
                @media(max-width: 767px) {
                    flex-grow: 1;
                }
                a{
                    display: block;
                    line-height: 0;
                    position: relative;
                    top: -11px;
                    @media(max-width: 767px) {
                        position: static;
                    }
                }
            }
        }
        .sub-menu {
            ul {
                justify-content: flex-end;
                li {
                    transition: .4s ease-in-out;
                    @media(max-width: 767px) {
                        transition: none;
                    }
                    .dropdown {
                        background-color: #ffc600;
                        top: 30px;
                        right: -1px;
                        li{
                            font-weight: 400;
                        }
                        a{
                            color: #000;
                            font-weight: 400;
                        }
                        @media(min-width:768px) and (max-width: 991px){
                            top: 26px;
                        }
                    }
                }
            }
       
        }
    }
    
}

.show-nav {
    header nav .links {
        left: 0px;
    }
}

.sub-menu {
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            padding: 5px 0px;
            position: relative;
            a {
                font-size: 11px;
                @media(min-width: 767px) and (max-width: 992px) {
                    font-size: 11px;
                }
                color: #000000;
                i {
                    transition: .3s ease-in-out;
                }
            }
            @media(min-width:767px) {
                .dropdown {
                    display: none;
                    visibility: hidden;
                    opacity: 0;
                    position: absolute;
                    top: 40px;
                    right: 0;
                    z-index: 999;
                    background: #fff;
                    border: 1px solid #ffc600;
                    text-align: left;
                    max-width: 100%;
                    //min-width: 170px;
                    min-width: max-content;
                    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.22);
                    box-shadow: 0 3px 8px rgba(151, 142, 142, 0.22);
                    border-radius: 5px;
                    -webkit-transform: translateY(10px);
                    transform: translateY(10px);
                    -webkit-transition: .2s ease-in-out;
                    transition: .3s ease-in-out;
                    border-radius: 0;
                    li {
                        margin-left: 0;
                        padding: 5px 15px;
                        line-height: 17px;
                        font-size: 12px;
                        border-bottom: 1px solid #ffc600;
                        &:hover {
                            background: #fff;
                        }
                        &:last-child{
                            border: 0;
                        }
                        a {
                            color: #000000;
                            font-size: 11px;
                            //font-weight: 400;
                        }
                    }
                }
            }
            @media(min-width:768px) and (max-width:991px){
                padding: 5px;
            }
            @media(min-width:992px) and (max-width:1199px){
                padding: 5px 14px;
            }
            @media(min-width:767px) {
                &:hover {
                    @keyframes headeDrop {
                        0.0%{
                            transform: translateY(10px);
                            opacity: 0;
                        }
                        100%{
                            transform: translateY(0px);
                            opacity: 1;
                        }
                    }
                    .dropdown {
                        display: block;
                        visibility: visible;
                        opacity: 1;
                        transform: translateY(0px);
                        //transition: .5s ease-in-out;
                        animation: headeDrop .3s linear;
                    }
                }
            }
            @media(max-width:767px) {
                .dropdown {
                    display: none;
                    background-color: #fff;
                    margin-top: 0px;
                    padding: 0;
                    li {
                        padding: 0;
                    }
                }
            }
        }
        .active {
            //background-color: rgba(255, 255, 255, .60);
            a{
                color: #0099CC;
            }
        }
    }
}
.topbar{
    .sub-menu-desk{
        display: flex;
        justify-content: flex-end;
        .social-header{
            display: inline-flex;
            //padding-left: 108px;
            @media(min-width:768px) and (max-width:1199px){
                //padding-left: 40px;
            }
            @media(min-width:1200px) and (max-width:1699px) {
                //padding-left: 60px;
            }
        }
    }
   
}
.sub-menu-desk {
    text-align: right;
    padding-bottom: 33px;
    @media(min-width:768px) and (max-width:1199px){
        padding-bottom: 10px;
    }
    @media(min-width:1200px){
        padding-bottom: 10px;
    }
    ul{
        display: inline-block;
    }
    .social-header{
        display: inline-flex;
        padding-left: 40px;
        li{
            &:hover{
                transform: translateY(-4px);
                transition: 0.3s;
            }
        }
    }
    @media(max-width: 767px) {
        display: none;
    }
}
.nav-close {
    text-align: right;
    font-size: 30px;
    font-weight: 500;
    line-height: 1;
    color: #000;
    padding: 10px;
    padding-bottom: 0;
    @media (min-width: 768px)
    {
        display: none;
    }
}
.btn-login {
    background-color: $text-lyellow !important;
    color: #000!important;
    padding: 7px 16px;
    border-radius: 5px;
    display: block;
    border: 1px solid $text-lyellow;
    background: linear-gradient(to right, #fff 50%, $text-lyellow 50%);
    background-size: 250% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    font-size: 16px!important;
    &:hover, &:focus{
        color: #000!important;
        background-position: left bottom;
    }
}
.btn-login-outline {
    background-color: #fff;
    border: 1px solid $text-blue;
    color: $text-blue!important;
    padding: 6px 15px;
    border-radius: 5px;
    display: block;
    margin-right: 14px;
    background: linear-gradient(to right, $text-blue 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
    &:hover, &:focus{
        background-color: $text-blue;
        color: #fff!important;
        background-position: left bottom;
    }
}
.transform0{
    transform: none!important;
}
.header-top-flex{
    .logo{
        flex-grow: 1;
    }
    .links-dashboard{
        display: flex;
    }
    
}
.need-support{
    border: 1px solid transparent; 
    width: 229px;
    text-align: center;
    padding-left: 0!important;
    background-color: #fff;
    ul{
        width: 229px; 
    }
    &:hover{
        border: 1px solid $text-lyellow;
    }
}

.menu-toogle.menu-db{
    padding: 10px 20px;
    padding-left: 0;
}
// Header :: END

.bell{
    &:hover{
        animation: bellshake .5s;
    }
}
@keyframes bellshake {
    0% { transform: rotate(0); }
    15% { transform: rotate(5deg); }
    30% { transform: rotate(-5deg); }
    45% { transform: rotate(4deg); }
    60% { transform: rotate(-4deg); }
    75% { transform: rotate(2deg); }
    85% { transform: rotate(-2deg); }
    92% { transform: rotate(1deg); }
    100% { transform: rotate(0); }
}
.deposits-menu{
    display: inline-block;
}
.deposits-menu-show{
    display: none;
}
.need-help{
    margin-left: 64px;
    background-color: #FFC600;
    text-align: center;
    padding: 4px 23px;
    border-radius: 0 0 7px 7px;
    position: relative;
    top: -4px;
    margin-bottom: 25px;
    display: none;
    p{
        padding: 0;
        font-size: 14px;
        color: #000;
        a{
            color: #fff;
            text-decoration: underline;
            margin-left: 5px;
        }
    }
}
.deposit-page{
    .need-help{
        display: inline-block;
        @media(min-width:768px) and (max-width:991px){
            display: none;
        }
        @media(min-width: 992px) and (max-width: 1199px){
            margin-left: 0;
            padding: 4px 8px;
            p{
                font-size: 12px;
            }
        }
    }
    .deposits-menu{
        display: none;
    }
    .deposits-menu-show{
        display: inline-block;
    }
}
.after-log{
    display: none!important;

}
.after-login{
    display: none!important;
}
.post-login-page{
    .after-log{
        display: flex!important;
        flex-wrap: wrap;
        @media(min-width:768px){
            display: none!important;
        }
    }
    .after-login{
        display: flex!important;
    }
    .before-login{
        display: none!important;
    }
    .before-log{
        display: none!important;
    }
    .mobile-sub-menu{
        @media(min-width:768px){
            display: none!important;
        }
    }
}
