@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?6sz0hh');
    src:  url('../fonts/icomoon.eot?6sz0hh#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?6sz0hh') format('truetype'),
      url('../fonts/icomoon.woff?6sz0hh') format('woff'),
      url('../fonts/icomoon.svg?6sz0hh#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-service:before{
    content: "\e91f";
  }
  .icon-icon-alert-error_outline_24px:before {
    content: "\e91e";
  } 
  .icon-Icon_3dot:before {
    content: "\e91d";
  }
  .icon-icon_edit:before {
    content: "\e91c";
  }
  .icon-Icon_unlock:before {
    content: "\e91b";
  }
  .icon-Icon-material-lock:before {
    content: "\e919";
  }
  .icon-Icon-material-keyboard:before {
    content: "\e91a";
  }
  .icon-Icon_call:before {
    content: "\e918";
  }
  .icon-Arrow:before {
    content: "\e900";
  }
  .icon-Calendar:before {
    content: "\e901";
  }
  .icon-Close:before {
    content: "\e902";
  }
  .icon-Delete:before {
    content: "\e903";
  }
  .icon-Downarrow:before {
    content: "\e904";
  }
  .icon-Download:before {
    content: "\e905";
  }
  .icon-Facebook:before {
    content: "\e906";
  }
  .icon-Image:before {
    content: "\e907";
  }
  .icon-Leftarrow:before {
    content: "\e908";
  }
  .icon-Linkin:before {
    content: "\e909";
  }
  .icon-Map:before {
    content: "\e90a";
  }
  .icon-Map .path2:before {
    content: "\e90b";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-Mask-Group-520:before {
    content: "\e90c";
  }
  .icon-Menu:before {
    content: "\e90d";
  }
  .icon-Pdf:before {
    content: "\e90e";
  }
  .icon-Rightarrow:before {
    content: "\e90f";
  }
  .icon-Search .path1:before {
    content: "\e910";
    color: rgb(224, 224, 224);
  }
  .icon-Search .path2:before {
    content: "\e911";
    margin-left: -1em;
  }
  .icon-Sort:before {
    content: "\e912";
  }
  .icon-twitter:before {
    content: "\e913";
  }
  .icon-Upload:before {
    content: "\e914";
  }
  .icon-Upperarrow:before {
    content: "\e915";
  }
  .icon-Youtube:before {
    content: "\e916";
  }
  .icon-Add:before {
    content: "\e917";
  }
  