.left-wrapper-g {
    background: #f8fcff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #c9e4f9;
  }
  
  .rght-wrp-g {
    padding: 20px;
    background: url(assets/img/fd/bg-circle.svg), url(assets/img/fd/bg-circle.svg),
      #ffefb7;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: -75px -75px, 107% 107%;
    background-size: 30%, 18%;
  }
  
  .calc-hd {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffefb7;
    border-color: #fdd752;
  }
  .w-wrap {
    padding: 20px;
    border-radius: 10px;
    background: white;
  }
  .color-y {
    color: #ffc600 !important;
  }
  .color-w {
    color: white !important;
  }
  .color-b {
    color: black !important;
  }
  
  .intrest-txt {
    color: #5bae75;
    width: max-content;
    margin-inline: auto;
    margin-bottom: 10px;
  }
  
  .wrap-hd p {
    padding-bottom: 10px;
  }
  .wrap-hd h3 {
    font-size: 34px;
    margin: 0;
  }
  .amt-wrap-g {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 25px;
    padding-block: 20px;
    border-block: 1px solid #ffc600;
    gap: 40px;
  }
  
  .mat-left {
    border-inline-end: 1px solid #ffc600;
    padding-right: 40px;
  }
  
  .mat-left p {
    padding-bottom: 10px;
  }
  
  .mat-right p {
    padding-bottom: 10px;
  }
  
  .mat-left h3,
  .mat-right h3 {
    margin: 0;
    font-size: 34px;
  }
  
  .slider-g {
    padding: 10px;
    width: max-content;
    border-radius: 5px;
    background: #ffffff73;
    position: relative;
    border: 1px solid #ffc600;
  }
  .slider-box .item {
    padding: 10px 0;
  }
  .tre-label {
    position: absolute;
    right: 17px;
    top: 2px;
    font-size: 10px;
    color: white;
    padding: 3px 8px;
    background: #464646;
    border: 1px solid #4caf50;
    border-radius: 10px;
  }
  
  .slider-g p {
    padding-bottom: 0px;
    font-weight: 600;
    font-size: 22px;
  }
  
  .slider-g h3 {
    margin-bottom: 0px;
  }
  .clr-tt {
    padding-bottom: 20px;
    font-weight: 600;
  }
  .slider-wrap-g {
    padding-bottom: 20px;
    border-block-end: 1px solid #d8d8d8;
  }
  .invest-card-g {
    margin-top: 20px;
  }
  .card-l-g {
    background: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
  }
  .invst-btn {
    background: #ffc600;
    border: 0;
    color: #000000;
    width: 170px;
    height: 45px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
  }
  .slider-g .color-y {
    color: #858585 !important;
  }
  .slider-g.active {
    background: white;
  }
  .slider-g.active .color-y {
    color: #ffc600 !important;
  }
  .checkbox-flex-wrp.nfd-checkbox .styled-checkbox + label:before {
    position: absolute;
    width: 15px;
    left: 200px;
    top: 1px;
  }
  .calc-section.left-wrapper-g {
    padding-block: 25px;
  }
  .checkbox-flex-wrp.nfd-checkbox .styled-checkbox:checked + label:after {
    position: absolute;
    left: 202px;
  }
  .invst-btn {
    width: 140px;
    height: 35px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  @media (max-width: 767px) {
    .left-wrapper-g {
      padding: 15px;
    }
    .calc-hd {
      flex-direction: column;
      gap: 10px;
    }
    .rght-wrp-g {
      margin-top: 15px;
      padding: 15px;
    }
    .w-wrap {
      padding: 10px;
    }
    .amt-wrap-g {
      flex-direction: column;
      align-items: center;
      margin-block: 15px;
      padding-block: 15px;
      gap: 20px;
    }
    .mat-left {
      border: 0;
      padding-right: 0px;
    }
    .clr-tt {
      padding-bottom: 10px;
    }
    .card-l-g {
      padding: 12px;
      padding-right: 10px;
    }
    .invst-btn {
      width: 120px;
      height: 37px;
      font-size: 14px;
    }
    .slider-g {
      padding: 10px;
      width: auto;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .rght-wrp-g {
      margin-top: 20px;
    }
  }
  
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .w-wrap {
      padding: 10px;
    }
    .intrest-txt {
      margin-bottom: 5px;
    }
    .wrap-hd p {
      padding-bottom: 5px;
    }
    .amt-wrap-g {
      margin-block: 15px;
      padding-block: 15px;
    }
    .mat-left h3,
    .mat-right h3 {
      margin: 0;
      font-size: 24px;
    }
    .clr-tt {
      padding-bottom: 10px;
    }
  
    .invest-card-g {
      margin-top: 10px;
    }
    .slider-wrap-g {
      padding-bottom: 5px;
    }
    .card-l-g {
      padding: 10px 15px;
      padding-right: 50px;
    }
    .invst-btn {
      width: 140px;
      height: 35px;
      font-size: 14px;
      align-items: center;
      justify-content: center;
      display: flex;
    }
    .wrap-hd h3 {
      font-size: 26px;
    }
    .mat-left p,
    .mat-right p {
      padding-bottom: 5px;
    }
    .calc-section.left-wrapper-g {
      padding-bottom: 30px;
    }
  }