.banner{
    padding: 40px 0;
    img{
        height: auto;
    }
    &.inner-banner{
        padding-bottom: 0;
    }
    &.home-banner{
        padding-bottom: 8px;
    }
    @media(max-width:767px){
        padding-top: 0px;
        padding-bottom: 20px;
    }
    @media(min-width:768px) and (max-width:1199px){
        padding: 0;
        padding-top: 20px;
        .align-self-center-tab{
            align-self: center;
        }
    }
    .banner-cnt{
        padding: 20px 0;
        padding-right: 35px;
        padding-bottom: 0;
        padding-top: 10px;
        @media(max-width:767px){
            padding: 20px 15px;
            padding-bottom: 0;
        }
        @media(min-width:576px) and (max-width:767px){
            padding-left: 0;
        }
        @media(min-width:768px) and (max-width:1199px){
            padding: 0;
            padding-right: 20px;
        }
        
        h1{
            padding-bottom: 25px;
            margin-bottom: 0;
            @media(max-width:767px){
                padding-bottom: 10px;
            }
            @media(min-width:768px) and (max-width:1199px){
                padding-bottom: 20px;
            }
        }
        p{
           
            margin: 0;
            @media(max-width:767px){
                font-size: 14px;
                padding-bottom: 15px;
            }
        }
        .primary-btn{
            margin-right: 10px;
        }
    }
    .row{
        @media(max-width:767px){
            flex-direction: column-reverse;
        }
        
    }
}

//no banner
.no-banner{
    padding-bottom: 25px;
    @media(max-width:767px){
        padding-bottom: 0;
    }
    .subtitle-1{
        font-weight: 300;
    }

}
.owl-image{
    
   
    .item{
        border-radius: 0;
        @media(min-width:768px){
            border-top-left-radius: 23px;
            border-bottom-left-radius: 23px;
        }
        overflow: hidden;
    }
}
.banner-layout{
    @media(min-width:375px) and (max-width:426px){
        min-height: 197px;  
        }
        @media(min-width:427px) and (max-width:516px){
            min-height: 224px; 
        }
        @media(min-width:516px) and (max-width:575px){
            min-height: 272px; 
    }
}
