.breadcrumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 30px 0;
    list-style: none;
    margin: 0;
    &.mb-pt15{
        @media (max-width: 767px){
            padding-top: 15px;
        }
    }
    @media (max-width: 767px){
        padding: 15px 0;
    }
    .back-btn-g{
        padding-right: 10px; 
        color: #000;
        font-size: 20px;
        position: relative;
        top: 1px;
    }
    .breadcrumb-item{
        font-size: 14px;
        color: $text-yellow;
        font-weight: 500;
        //letter-spacing: 1px;
        line-height: 23px;
        @media(min-width:1700px){
            font-size: 20px;
        }
        a{
            color: $text-gray;
            font-weight: 300;
        }
    }
    .breadcrumb-item+.breadcrumb-item::before {
        display: inline-block;
        padding-right: .5rem;
        padding-left: .5rem;
        color: $text-gray;
        content: ">";
        font-weight: 300;
        position: relative;
        top: 1px;
    }
}
