/* no ui */
.custom-ui {
    height: 4px;
    border: none;
    @media (min-width: 1300px) {
      height: 8px;
    }
    background: rgba(255, 225, 120, 0.47);
    .noUi-handle {
      width: 14px;
      height: 14px;
      right: -9px;
      top: -5px;
      border-radius: 100%;
      background-color: $text-yellow;
      border: 1px solid #FFFCFA;
      box-shadow: none;
      @media (min-width: 1200px) {
        width: 18px;
        height: 18px;
        top: -6px;
      }
      @media (min-width: 1700px) {
        width: 24px;
        height: 24px;
        top: -8px;
      }
      &:before,
      &:after {
        display: none;
      }
    }
    .noUi-pips {
      padding: 0;
      padding-top: 3px;
      .noUi-marker-normal {
        display: none;
      }
      .noUi-marker-large {
        height: 10px;
        margin-left: 0;
        width: 1px;
      }
      .noUi-value-large {
        margin-top: 6px;
        font-size: 11px;
        color: #666666;
      }
    }
    
  }
  .cust-noui-height {
    height: 40px;
    margin-bottom: 10px;
    position: relative;
    @media (min-width: 1300px) {
      margin-bottom: 20px;
    }
    @media (min-width: 1700px) {
      margin-bottom: 37px;
    }
  }

  .cust-noui-height.new-chart{
    margin-bottom: 0px;
  }


  .label-text {
    display: flex;
    padding-bottom: 15px;
   
      @media (min-width: 1700px) {
        padding-bottom: 37px;
      }
    h4 {
      margin: 0;
      color: #000000F2;
      font-size: 14px;
      flex-grow: 1;
      font-weight: 500;
      
      @media (min-width: 1700px) {
        font-size: 20px;
      }
    }
  
    .output-value {
      border: 1px solid $text-yellow;
      width: 80px;
      padding-top: 3px;
      border-radius: 3px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 12px;
      padding-right: 5px;
      @media (min-width: 1300px) {
        width: 100px;
        font-size: 14px;
        padding-top: 0px;
        height: 35px;
      }
      @media (min-width: 1700px) {
        width: 160px;
        font-size: 20px;
        padding-top: 0px;
        height: 54px;
      }
      span {
        padding-right: 5px;
      }
      input {
        border: 0;
        padding: 4px 3px;
        text-align: right;
        background-color: transparent;
        width: 60px;
        max-width: 100%;
        font-size: 12px;
        font-weight: 500;
        border-radius: 5px;
        @media (min-width: 1300px) {
          font-size: 14px;
        }
        @media (min-width: 1700px) {
          font-size: 20px;
          width: 85px;
        }
        &:hover,
        &:focus {
          border: 0;
          outline: none;
        }
      }
      // .tenure-input {
      //   width: 25px;
      // }
      .interest-input {
        width: 30px;
      }
    }
  }
  .flex-op {
    display: flex;
    justify-content: space-between;
    padding-top: 4px;
    p {
      color: #696767;
      font-size: 13px;
      font-weight: 400;
      opacity: 0.7;
      padding-bottom: 0;
      @media (min-width: 1300px) {
        font-size: 13px;
      }
      @media (min-width: 1700px) {
        font-size: 16px;
      }
    }
  }
//HighCharts  
  .highcharts-figure {
    .chart-container {
      width: 100px;
      height: 100px;
        float: left;
        
        @media(min-width:768px) and (max-width:1299px){
          width: 170px;
          height: 170px;
        }
        @media(min-width:1300px){
          width: 200px;
          height: 200px;
        }
        @media(min-width:1700px){
          width: 300px;
        height: 300px;
        }
    }
  }
  

  .chart-container {
    margin: 0 auto;
    position: relative;
    max-height: 300px;
      max-width: 300px;
      @media (max-width: 767px) {
        height: 120px;
        width: 120px;
      }
      @media(min-width:768px) and (max-width:1299px){
        width: 170px;
        height: 170px;
      }
      @media(min-width:1300px){
        width: 200px;
        height: 200px;
      }
    @media (min-width: 1700px) {
      height: 300px;
      width: 300px;
    }
  }
  .calc-box {
    position: relative;
    text-align: center;
    overflow: hidden;
    margin: 50px 0;
    //margin-left: -20px;
    margin-bottom: 0;
    display: inline-block;
    &:before{
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%; 
      content: '';
      background-color: transparent;
      z-index: 9;
    }
    @media (max-width: 767px) {
      margin-top: 20px;
      margin-bottom: 0;
      display: block;
      position: relative;
      top: 30px;
      overflow: visible;
      #donutchart{
        //width: 120px;
        //transform: scale(0.6);
       // transform-origin: -62%;
      }
    }
    canvas{
      width: 340px!important;
      transform: rotate(53deg);
      @media (max-width: 767px) {
        width: 100%!important;
        height: 77px;
        transform: scale(1.5);
      }
      @media(min-width:768px) and (max-width:991px){
        width: 150px;
        display: block;
      }
    }
  }
  .chart-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    background: #fff;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 9px #E0E4E3;
    @media(max-width:767px){
      .chart-icon{
        img{
          height: 22px;
            width: auto;
        }
      }
      
    }
    @media(min-width:768px) and (max-width:1299px){
      width: 82px;
      height: 82px;
    }
    @media(min-width:1300px){
      width: 110px;
      height: 110px;
    }
   
    i {
      font-size: 20px;
      color: #e0e0e0;
      
      @media(min-width:1300px){
        font-size: 30px;
      }
     
      
    }
    h6 {
      margin: 0;
      padding-top: 22px;
      color: #000000E6;
      @media(max-width:767px){
        padding-top: 0px!important;
      }
      @media (max-width: 1299px) {
        padding-top: 8px;
      }
      @media (min-width: 1300px) {
        padding-top: 10px;
        font-size: 16px;
      }
     
    }
  }
  //Amount Table
  .principle-amt {
    @media (max-width: 767px) {
        padding-top: 20px;
    }
    h5 {
      font-size: 16px;
      margin: 0;
      padding-bottom: 50px;
      color: #000000F2;
      @media (max-width: 767px) {
        display: none;
      }
      @media(min-width:768px) and (max-width:1199px){
        padding-bottom: 30px;
      }
      @media (min-width: 1200px) {
        font-size: 18px;
        padding-bottom: 15px;
      }
      @media (min-width: 1700px) {
        font-size: 20px;
      }
    }
  }
  .amt-left {
    display: flex;
    justify-content: space-between;
    p {
      color: #000000F2;
      font-size: 12px;
      font-weight: 400;
      margin: 0;
      padding-bottom: 10px;
      @media (min-width: 768px) {
        font-size: 14px;
        padding-bottom: 15px;
      }
      @media (min-width: 1700px) {
        font-size: 16px;
        padding-bottom: 20px;
      }
    }
    .indicator {
      width: 18px;
        height: 18px;
      border-radius: 100%;
      background-color: #e0e0e0;
      display: inline-block;
      margin-right: 20px;
      position: relative;
      top: 5px;
      @media (max-width: 767px) {
        top: 3px;
        width: 12px;
        height: 12px;
        margin-right: 10px;
      }
      @media(min-width:768px) and (max-width:1199px){
        top: 3px;
        width: 14px;
        height: 14px;
      }
      &.indicator-yellow {
        background-color: $text-yellow;
      }
      &.indicator-transparent {
        background-color: transparent;
      }
    }
  }
  
  .tot-amt-payable {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #00000054;
    border-bottom: 1px solid #00000054;
    padding: 20px 0;
    margin-top: 15px;
    margin-bottom: 20px;
        @media (max-width: 767px) {
          padding: 10px 0;
          margin-top: 5px; 
        }
        @media (min-width: 1300px) {
            padding: 30px 0;
            margin-bottom: 30px;
        }
        @media (min-width: 1700px) {
          padding: 40px 0;
          margin-bottom: 35px;
      }
    p {
      margin: 0;
      padding: 0;
      font-weight: 600;
      color: #000;
      @media (max-width: 767px) {
        font-size: 12px;
        font-weight: 500;
        padding-left: 22px;
      }
      @media(min-width:768px) and (max-width:1199px){
        font-size: 16px;
      }
     
      span {
        font-size: 12px;
        font-weight: 500;
        @media(min-width:768px) and (max-width:1199px){
          font-size: 28px;
        }
        @media(min-width:1200px){
          font-size: 30px;
        }
        
      }
    }
  }
  .sp-left {
    padding-left: 30px;
    @media (max-width: 991px) {
        padding-left: 0px;
      }
  }
  .calc-section{
      padding-bottom: 10px;
  }
  .home-tab{
   opacity: 0;
   height: 0;
   overflow: hidden;
   transition:0.5s;
    &.active{
      opacity: 1;
      height: auto;
      overflow: visible;
      transition:0.5s;
    }
  }
  #recurringddept, #fixeddept{
    padding-bottom: 30px;
    @media (max-width: 767px) {
      padding-bottom: 15px;
    }
}
  
@media(min-width:1700px){
  .tot-amt-payable{
    p{
      font-size: 20px;
    }
  } 
}