.fd-flex{
    display: flex;
    justify-content: start;
    align-items:center;
    .fl-text-box{
        width: 100%;
        margin-bottom: 0px;
    }
    .re-btn{
        background-color: #FFC600;
        display: flex;
        height: 36px;
        width: 200px;
        align-items: center;
        justify-content: center;
        border: 0px;
        border-radius: 0px 5px 5px 0px;
        font-size: 15px;
        color: #696767;
        margin-left: -5px;
        position: relative;
        z-index: 1;
    }
}

.fd-table{
    border: 1px solid #B7B7B7;
    border-radius: 5px;
    padding: 10px 0px 0px;
    h3{
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 0px;
        border-bottom: 1px solid #B7B7B7;
        padding: 5px 10px 14px;
    }
    span{
        font-size: 12px;
        color: #696767;
        display: inline-block;
    }
    p{
        padding-bottom: 0px;
        color: #000;
        font-size: 15px;
    }
    table{
        padding: 15px 10px;
        width: 100%;
        td{
            padding-right: 12px;
            &:last-child{
                padding-right: 0px;
            }
        }
    }
}
.lms-pad-bom{
    padding-bottom: 40px;
}
.fd-invers{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    a{
        width: 120px;
        text-align: center;
    }
}
.fd-cust{
    .modal-body{
        padding: 0px;
        max-width: 600px;
        width: 600px;
    }
    .messageModel{
        width: 100%;
        .message-content{
            width: 100%;
            background-image: none;
            padding: 30px 40px;
            .ex-name{
                p{
                    font-size: 15px;
                    padding-bottom: 0px;
                    line-height: 1.0;
                }
            }
        }
    } 
    .popup-overlay{
        top: 93px;
    }
    .fd-cut-htext{
        font-size: 18px;
        font-weight: 500;
        text-align: left;
        color: #000;
    }
    .modal-dialog{
        top: 60px;
    }
}
.cut-boxs{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.ex-cust{
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 10px;
    background-color: #F7F7F7;
    img{
        border: 1px solid #C4C4C4;
    }
}
.ex-name{
    color: #5F5F5F;
    text-align: left;
    span{
        font-size: 12px;
    }
}
.ex-depo{
    font-size: 12px;
    color: #5F5F5F;
    text-align: left;
}
.ex-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.prg-track{
    background-color: #DDDDDD;
    width: 100%;
}
.on-track{
    background-color: #FFC600;
    color: #333333;
    text-align: right;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0px 10px;
    font-size: 14px;
}

.fd-btn{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}
.btn-login.fd-nc{
    background: linear-gradient(to right, #fff 50%, #D9D9D7 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    border-color: #D9D9D7;
    &:hover{
        color: #000 !important;
    background-position: left bottom;
    }
    &:focus{
        color: #000 !important;
        background-position: left bottom;
    }
}

@media(max-width: 767px){
    .heading-sm.fd-heading{
        padding-bottom: 22px;
    }
    .fd-table{
        overflow-x: auto;
        padding: 5px 0px 0px;
        h3{
            border-bottom: 0px;
            padding: 5px 10px 6px;
            font-size: 14px;
        }
        table{
            border-top: 1px solid #B7B7B7;
            padding: 6px 10px;
            td{
                white-space: nowrap;
            }
        } 
    }
    .mob-chart{
        margin-top: 25px;
    }
    .fd-cust .popup-overlay{
        top: 88px;
    }
    .fd-cust{
        .modal-body{
            max-width: 100%;
            width: 100%;
            padding: 10px;
            background-color: transparent;
        }
        .messageModel{
            .message-content{
                padding: 20px;
                .ex-name{
                    p{
                        font-size: 13px;
                    }
                    span {
                        font-size: 11px;
                    }
                }
            }
        } 
    }
    .on-track{
        height: 16px;
        font-size: 12px;
    }
    .ex-cust {
        padding: 6px;
    }
    .fd-btn{
        gap: 12px;
        margin-top: 12px;
        .btn-login{
            font-size: 14px !important;
        }
    } 
    .fd-invers{
        .btn-login{
            font-size: 14px !important;
        }
    }
}
