.nfd_payout{
    border: 1px solid #ffb100;
    width: 100px;
    font-size: 14px;
    border-radius: 3px;
    font-weight: 500;
    height: 35px;
    &:focus{
        outline: none;
    }
}
.nfd-checkbox li{
    width: 100%
}
.checkbox-flex-wrp.nfd-checkbox{
    .styled-checkbox + label:before{
        position: absolute;
        width: 15px;
        left: 170px;
    }
    .styled-checkbox:checked + label:after{
        position: absolute;
        left: 172px;
    }
} 
.nfd-relative{
    position: relative;
    .resend-icon{
        position: absolute;
        right: 10px;
        display: flex;
        background-color: transparent;
        border: 0px;
        cursor: pointer;
        img{
            width: 17px;
        }
    }
}
.btn-login.nfd-btn{
    text-align: center;
    width: auto;
    display: inline-block;
} 
.nfd-table{
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    color: #FFFFFF;
    margin-top: 40px;
    h3{
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 15px;
        padding-left: 15px;
        padding-top: 12px;
    } 
}  
.nfd-tb-flex{
    display: flex;
    width: 100%;
    justify-content: space-around;
    border-top: 1px solid #FFFFFF;
    padding: 10px 0px;
    .tb-data{
        text-align: center;
        span{
            color: #9D9D9D;
            font-size: 15px;
        }
        p{
            padding-bottom: 0px;
            font-size: 16px;
            color: #fff;
            margin-top: 5px;
        }
    }
}
.nfd-matur-text{
    p{
        font-size: 15px;
        padding-bottom: 0px;
        color: #fff;
    }
}
.ex-cust.active{
    border: 1px solid #FFE27E;
    background-color: #FFF9E2;
}