.inline-field {
  div {
    &:not(:first-child) {
      padding-left: 40px;
    }
  }
}

/* Recurring Deposit :: START */
.basic-details-step {
  display: none;
}
.secondary-btn {
  background-color: transparent;
  color: #009ffd;
  border: 1px solid #009ffd;
  font-weight: 600;
  box-shadow: 0px 3px 3px #0000001a;
  border-radius: 3px;
  font-size: 20px;
  padding: 13px 15px;
  height: auto;
}
.sec-pb60 {
  padding-bottom: 60px !important;
}
.documents-check {
  padding: 40px 0px;
  padding-top: 0;
  @media (max-width: 767px) {
    padding-top: 20px;
  }
}
.documents-checklist {
  h1 {
    margin-bottom: 0px;
  }
  h3 {
    margin-bottom: 40px;
  }
  p {
    @extend .subtitle-2;
    padding-bottom: 30px !important;
  }
  ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    li {
      @extend .subtitle-2;
      margin-bottom: 25px;
      position: relative;
      padding-left: 60px;
      .document-counter {
        width: 28px;
        height: 28px;
        border: 1.5px solid #b7b7b7;
        display: inline-block;
        text-align: center;
        font-size: 16px;
        line-height: 28px;
        border-radius: 50px;
        position: absolute;
        left: 0px;
      }
    }
  }
}
.interest {
  &-box {
    display: flex;
    position: relative;
    max-height: 310px;
    overflow: hidden;
    background-image: url("../img/deposits/fd-banner.webp");
    background-size: contain;
    border-radius: 23px 0px 0px 23px;
    overflow: hidden;
    background-position: 32%;
    background-repeat: no-repeat;
  }
  &-figure {
    flex-grow: 1;
    position: relative;
    right: -20px;
    z-index: -1;
  }
  &-cnt {
    background: #ad5f5f;
    padding: 20px 50px 20px 50px;
    border-radius: 23px 0px 0px 23px;
    & .interest {
      &-upto {
        text-align: left;
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        padding-bottom: 0px !important;
        span {
          font-size: 48px;
          font-weight: 700;
          line-height: 45px;
          span {
            font-size: 24px;
          }
        }
        span.senior {
          font-size: 24px;
          font-weight: 400;
        }
      }
      &-additional {
        .per {
          color: #ffc600;
        }
      }
    }
    & .interest {
      &-seperator {
        border: 2px solid #ffffff;
        padding: 0px !important;
        margin: 20px 0px;
      }
    }
  }
}
.banner-type2 h2 {
  letter-spacing: 1.92px;
  line-height: 40px;
}
.pb20 {
  padding-bottom: 20px !important;
}
.sec-pt60 {
  padding-top: 60px;
}
.sec-pt50 {
  padding-top: 50px;
}
.sec-pb35 {
  padding-bottom: 35px;
  @media (max-width: 767px) {
    padding-bottom: 15px;
  }
}
.sec-pt45 {
  padding-top: 45px;
  @media (max-width: 767px) {
    padding-top: 15px;
  }
}
.sec-pb45 {
  padding-bottom: 45px;
  @media (max-width: 767px) {
    padding-bottom: 35px;
  }
}
.if-product {
  margin-bottom: 30px;
}
.d-md-none {
  display: none;
}
.keyfeatures {
  .shiram-box {
    margin-bottom: 50px;
  }
  .subtitle-1 {
    margin-bottom: 0px !important;
  }
}
.select-financial {
  li {
    a {
      margin-right: 30px;
    }
    &:last-child {
      width: 234px;
    }
  }
}
.eligibility-nav {
  overflow: auto;
  > div {
    h4 {
      @extend .subtitle-2;
      @media (max-width: 991px) {
        font-size: 14px;
      }
    }
  }
  > div.active {
    h4 {
      font-weight: 500;
    }
  }
}
.product-deposit {
  .faq-inner {
    margin-top: 0px !important;
  }
}
/* fixed deposit calculator :: START */
.fixed-calc {
  margin-top: 0px;
}

.calculator-table {
  padding-bottom: 15px;
  border-bottom: 1px solid #707070;
  margin-bottom: 30px;
  @media (max-width: 767px) {
    box-shadow: 0px 3px 8px #0000001a;
    border: 1px solid #eeeeee;
    margin-bottom: 15px;
    border-radius: 3px;
    padding: 5px;
  }
  table {
    @media (max-width: 991px) {
      padding-top: 10px;
      //border-bottom: 1px solid #707070;
    }
    tr {
      @media (max-width: 991px) {
        vertical-align: middle;
      }
      th,
      td {
        text-align: left;
        &:not(:first-child) {
          padding-left: 30px;
        }
        @media (max-width: 991px) {
          padding: 5px 10px;

          vertical-align: middle;
          p {
            padding-bottom: 0 !important;
            font-size: 14px;
          }
        }
        @media (max-width: 767px) {
          padding: 5px !important;
          font-size: 13px;
          p {
            font-size: 13px;
          }
        }
      }
      th {
        padding-bottom: 10px;
      }
      td {
        p {
          @extend .body-2;
          padding-bottom: 10px;
          line-height: 25px;
        }
      }
    }
  }
}
.justify-content-between {
  justify-content: space-between;
}
/* fixed deposit calculator :: END */
@media (max-width: 991px) {
  .banner-type2 h2 {
    line-height: 25px;
  }
  .banner-type3 {
    h1 {
      padding-bottom: 5px !important;
    }
    p {
      padding-bottom: 0px !important;
    }
    p.additional-pa {
      padding-bottom: 0px;
    }
  }
  .documents-checklist {
    h3 {
      margin-bottom: 20px;
    }
    p {
      padding-bottom: 15px !important;
    }
    ul {
      li {
        padding-left: 30px;
        .document-counter {
          width: 22px;
          height: 22px;
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .sec-pb60 {
    padding-bottom: 30px !important;
  }
  .d-mb-none {
    display: none !important;
  }
  .d-md-none {
    display: block !important;
  }
  .sec-pt60 {
    padding-top: 40px;
  }
  .sec-pt50 {
    padding-top: 30px;
  }
  .mb-pt20 {
    padding-top: 20px;
  }
  .select-financial {
    display: flex;
    overflow-x: scroll;
    max-width: 100%;
    li {
      a {
        margin-right: 15px;
      }
    }
  }
  .keyfeatures {
    .shiram-box {
      margin-bottom: 20px;
    }
  }
  .col-sm-reverse {
    flex-direction: column-reverse !important;
  }
  #no-depo-sec .success-style {
    background-image: url(../img/post-login/noloan.webp);
    background-size: 60% !important;
    background-position-x: center;
    padding-bottom: 100px;
  }
}
@media (min-width: 992px) {
  .fixed-calc {
    margin-top: -44px;
  }
}
@media (min-width: 1300px) {
  .keyfeatures {
    .shiram-box {
      margin-bottom: 50px;
      .shiram-det {
        min-height: 169px;
      }
    }
  }
  .keyfeatures-4 {
    .shiram-box {
      .shiram-det {
        min-height: 145px;
      }
    }
  }
  .keyfeatures-autoheight {
    .shiram-box {
      .shiram-det {
        min-height: inherit;
      }
    }
  }
  .banner-type3 {
    h2 {
      margin-bottom: 20px;
    }
    p {
      color: #000000;
      font-weight: 400;
      font-size: 18px;
      span {
        font-size: 24px;
        padding: 0px 10px;
      }
    }
    p.interest {
      padding-bottom: 15px;
    }
    p.additional-pa {
      padding-bottom: 0px;
    }
  }
}
@media (min-width: 1700px) {
  .keyfeatures {
    .shiram-box {
      margin-bottom: 50px;
    }
  }
  .banner-type2 {
    h1 {
      padding-bottom: 30px !important;
    }
    h2 {
      letter-spacing: 1.92px;
      line-height: 60px;
    }
  }
  .banner-type3 {
    padding-top: 10px !important;
    h2 {
      margin-bottom: 20px;
    }
    p {
      color: #000000;
      font-weight: 400;
      span {
        font-size: 48px;
        padding: 0px 15px;
      }
    }
    p.interest {
      padding-bottom: 25px;
    }
    p.additional-pa {
      padding-bottom: 0px;
    }
  }
  .eligibility-nav > div h4 {
    font-size: 20px;
  }
}
/* Recurring Deposit :: END */

#cf-bg {
  display: none;
}
.wrap-box-bg {
  background-size: 70% !important;
  background-position: bottom right !important;
  background-repeat: no-repeat !important;
  p {
    padding-bottom: 0;
    @media (max-width: 767px) {
      padding-bottom: 10px;
    }
  }
}
.interest-cnt {
  .interest-seperator {
    border: 1px solid #fff;
  }
}
.prod-wrp {
  .pro-menu-box {
    padding: 0;
  }
}
@media (max-width: 991px) {
  .interest-cnt {
    padding: 15px;
    .interest-upto {
      font-size: 13px;
      line-height: 17px;
      span {
        font-size: 18px;
        line-height: 27px;
        span {
          font-size: 14px;
        }
      }
      span.senior {
        font-size: 13px;
      }
    }
    .interest-seperator {
      margin: 10px 0;
    }
  }
}

@media (max-width: 767px) {
  .calculator-table table tr th:not(:first-child),
  .calculator-table table tr td:not(:first-child) {
    padding-left: 15px;
  }
  .subtitle-2 {
    br {
      display: none;
    }
  }
  .table-border .border-top-style {
    border-top: 0px solid;
  }
  .limit-flex p {
    font-size: 11px;
  }
  .sh-wrp .card-shadow .emi-agreement {
    padding: 15px 10px !important;
  }
  tbody.mob-table-data {
    tr {
      display: flex;
      flex-wrap: wrap;
      td {
        white-space: unset !important;
        flex: 0 0 50%;
        p {
          line-height: 20px;
        }
      }
    }
  }
}

@media (min-width: 1700px) {
  .secondary-btn {
    font-size: 16px;
    padding: 8px 15px;
  }
}

// Deposit

.form-group-c input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group-c label {
  position: relative;
  cursor: pointer;
}

.form-group-c label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #c1c1c1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);

  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  height: 16px;
  width: 16px;
}

.form-group-c input:checked + label::before {
  background-color: #ffcc01;
  border: 1px solid #ffcc01;
}
.form-group-c input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 6px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.fl-end {
  display: flex;
  justify-content: space-between;
  .fl-text-box {
    width: 200px;
    margin-bottom: 0;
  }
}

.table-btn-inline {
  display: flex;
  align-items: center;
}

.btn-primary-out {
  border: 1px solid #ffc600;
  color: black;
  padding: 7px 10px;
  border-radius: 3px;
  display: block;
  margin-right: 14px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  background: linear-gradient(to right, #ffc600 50%, white 50%);
  background-size: 200% 100% !important;
  background-position: right bottom;
  font-size: 14px;
  color: #000000;
  font-weight: 600;
  line-height: 20px;
}

.btn-primary-out:hover {
  background-position: left bottom;
}

.mb-last-border {
  display: block;
  height: 1px;
  background-color: #e0e0e0;
}

@media (max-width: 767px) {
  .inst-pay-g {
    margin-bottom: 20px;
  }
  .fl-end {
    flex-direction: column;
  }
  .fl-text-box {
    width: 100% !important;
  }
  .table-btn-inline {
    margin-top: 15px;
    justify-content: center;
  }
  .border-botto-bg {
    border: none;
  }
}

.btn-inline-card {
  .icon-Download {
    vertical-align: middle;
  }
}

#rapid-popup .messageModel .message-content {
  width: max-content;
  padding: 60px 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: none;
}

div#rapid-popup .messageModel .message-content p {
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 0px;
}

.go-back-txt {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 20px !important;
  color: #009ffd !important;
  text-decoration: underline;
  cursor: pointer;
}

p.msgclose.go-back-txt {
  position: relative !important;
  text-align: center;
  left: unset !important;
  right: unset !important;
}

@media (min-width: 1200px) {
  #rapid-popup .modal-body {
    min-width: 600px;
  }

  #rapid-popup .messageModel {
    max-width: 100%;
    min-width: 650px;
    z-index: 99;
  }
}
