.down-arc-sec  {
    .faq-head {
    background: white;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    padding-left: 0;
    @media(max-width:767px){
        padding-left: 15px;
    }
   
   }
   .faq-parah{
    padding-left: 0;
    @media(max-width:767px){
        padding-left: 15px;
    }
}
}

.bod-sec.ele-sec{
    overflow: hidden;
.row.c-reverse {
    flex-direction: row-reverse;
}

}

.bod-sec.ele-sec {
    .bod-right-inner {
        width: max-content;
    }
    .subtitle-3{
        margin-bottom: 30px;
    }


}

.ele-tab-hd  {
    padding-bottom: 20px;
    border-bottom: 2px solid #d7d7d7;
    margin-bottom: 20px;
    ul{
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        li {
            list-style-type: none;
            margin-right: 30px;
            font-weight: 500;
            cursor: pointer;
        }
        li.active{
            color: #ffc600;
        } 
    }
}
.products-cmn-wrp{
    padding-top: 60px;
    h3{
        margin: 0;
        padding-bottom: 20px;
    }
    .heading-sm{
        h3{
            padding-bottom: 0;
        }
    }
}
.ele-tab{
    p{
        span{
            font-weight: 600;
            color: #000;
        }
    }
}
.bg-grey{
    background: transparent linear-gradient(-268deg, #F8F8F8 0%, #FFFFFF 100%) 0% 0%;
}
.no-docs{
    border: 1px solid #B7B7B7;
    border-radius: 5px;
    padding: 20px 50px;
    padding-bottom: 0;
    img{
        width: auto;
        height: auto;
    }
}
@media (max-width:767px) {
    .no-docs{
        padding: 20px 30px;
        .subtitle-1 {
            margin-bottom: 0;
            font-size: 16px;
        }
    }
    .ele-tab-hd ul li{
        margin-right: 15px;
        font-size: 14px;
    }
    .bod-sec.ele-sec .bod-right-inner {
        overflow: hidden;
        overflow-x: auto;
        width: auto;
        
    }
    .products-cmn-wrp{
        padding-bottom: 0;
        padding-top: 0;
        h3{
            padding-bottom: 20px;
        }
    }
    .bod-sec.ele-sec .subtitle-3{
        margin-bottom: 15px;
    }
   

}

/* Downloads Start */
.download-li{
    list-style: none;
      padding: 0;
      li{
        margin-bottom: 35px;
        a{
          border: 1px solid #009FFD;
          padding: 8px 10px;
          border-radius: 5px;
          font-size: 16px;
          box-shadow: 0px 3px 3px #0000001A;
          i{
            margin-right: 7px;
          }
        }
      }
      @media(max-width:767px){
        li{
          a{
            font-size: 13px;
          }
        }
      }
  }
  /* Downloads End */

  @media(min-width:1700px){
    .ele-tab-hd{
        ul{
            li{
                font-size: 20px;
            }
        }
    }
  }

.inline-block{
    display: inline-block;
}