.faq-sec{
    overflow: hidden;
}
.faq-inner {
    margin-top: 21px;
    @media(max-width: 767px){
        margin-top: 20px;
    }
}
.faq-list {
    margin-bottom: 15px;
    &:first-child .faq-parah{
        //display: block;
    }
    &:last-child{
        margin-bottom: 15px;
    }
    .faq-head {
        background: #F8F8F8;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 40px;
        cursor: pointer;
        @media(max-width: 991px){
            padding: 10px 15px;
        }
        @media(min-width: 1920px){
            padding: 30px 60px;
        }
    }
    .faq-parah {
        padding: 20px 40px;
        padding-bottom: 15px;
        display: none;
        @media(min-width: 1920px){
            padding: 30px 60px;
        }
        @media(max-width: 991px){
            padding: 10px 15px;
        }
        p{
            font-size: 16px;
            margin: 0;
            line-height: 26px;
            color: black;
            @media(max-width: 767px){
                font-size: 14px;
                line-height: 24px;
                padding: 0;
            }
           
        }

    }
}

.faq-list.active .faq-head span {
    transform: rotate(-180deg);
    transition: all 0.50s;
}
.faq-list .faq-head span {
    transform: rotate(0deg);
    transition: all 0.50s;
}
.faq-list .faq-head i.icon-Downarrow {
    font-size: 24px;
    font-weight: 600;
}
.loan-downloads-wrp{
    .faq-list{
        margin-bottom: -1px;
    }
}

@media(max-width: 767px){
    .mob-dep-font{
        .subtitle-1{
            font-size: 16px;
        }
    }
}