button, input, select, textarea{
  font-family: 'Roboto', sans-serif;
}
$text-lgray: #B7B7B7;  
input:focus,input:active,button:focus,button:active{
  border: 0;
  outline: 0;
  box-shadow: 0;
}

textarea:focus,textarea:active{
  border: 1px solid #FFB100;
  outline: none;
  box-shadow: none;
}

  /**** Select Box ****/
  .floating-label { 
    position:relative; 
    margin-bottom:20px; 
  } 
  .floating-select {
    font-size: 14px;
    display: block;
    width: 100%;
    background-color: transparent;
    border: 1px solid $text-lgray;
    padding: 5px 10px;
    height: 36px;
    border-radius: 5px;
    color: black;
    font-weight: 400;
    background-image: url('../img/down.svg');
    background-size: 8px;
    background-repeat: no-repeat;
    background-position: 97% center;
    -webkit-appearance: none;
    
    @media (min-width: 1700px) {
      height: 45px;
      font-size: 17px;
    }
} 
@media (min-width: 1700px) {
  .fl-text-box .txt-box{
    height: 45px;
    font-size: 17px;
  }
}
 
 .floating-select:focus {
       outline:none;
       border: 1px solid #ffc600;
  }  
  .floating-label label {
    color:#696767; 
    font-size:14px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left: 15px;
    top: 9px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
    @media (min-width: 1700px) {
      top: 12px;
      font-size: 16px;
    }
    @media(max-width: 767px){
      display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    }
  }  
  .floating-select:focus ~ label, .floating-select:not([value=""]):valid ~ label {
    top: -7px;
    font-size: 12px;
    color: #c9c9c9;
    left: 12px;
    background: white;
    padding: 0px 3px;
}
/* End Select Box */


/* Search Box */
.search-par {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    border: 1px solid $text-lgray;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 13px;
    padding-right: 20px;
    
}

.search-box{
    width: 100%;
    border: 0;
    background: transparent;
    font-weight:500;
    font-size: 20px;
    font-size: 13px;
}
// .search-box::placeholder{
//   // font-size: 20px;
//   // letter-spacing: 0.19px;
//   // color: #696767;  
// }
.search-icon {
    background: #cac7c7;
    border-radius: 50px;
    width: 27px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -14px;
    position: relative;
}

.search-icon svg {
    height: 15px;
    width: 15px;
}

// .search-box::placeholder{
//     // font-size: 11px;
//     // font-weight: 400;
// }

.search-box:focus ~ .search-icon{
    background: #ffc600;
}
/* End search Box */
.textarea-box {
    width: 100%;
    resize: none;
    padding: 10px;
    border: 1px solid #eeeeee;
    margin-bottom: 25px;
    min-height: 70px;
    border-radius: 5px;
}
textarea{
  min-height: 100px!important;
}



/* Radio Box */
.radio-group{
  label{
    font-weight: 500;
    margin-bottom: 15px;
    display: block;
  }
  .flex{
    flex-wrap: wrap;
  }
}
.radio-par{
    margin-bottom: 25px;
    @media(max-width:767px){
      margin-bottom: 5px;
    }
    label{
      font-weight: 500;
      margin-bottom: 0px;
    }
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color:black;
    font-weight: 400;
    //font-size: 20px;
    @media (max-width:1400px) {
      font-size: 14px;
    }
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border: 1px solid $text-lgray;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 7px;
    height: 7px;
    background: #FFB100;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* End Radio Box */
  
  
/* Toggle Switch */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 10px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 0px;
    bottom: -4px;
    background-color: #efefef;
    -webkit-transition: .4s;
    transition: .4s;

  }
  
  input:checked + .slider {
    background-color: #ffc60087;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ffc60087;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
    background: #ffb100;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* End Switch */


/* Range SLider */

.slider-par {
    margin: 20px 0px;
}
.rSlider {
    position: relative;
  }
  .rSlider .slide-ran {
    background: #FFB100;
    height: 5px;
    width: 80px;
    position: absolute;
    left: 2px;
    top: 2px;
    z-index: 2;
  }
  input[type=range] {
    position: relative;
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #ffe178;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #FFB100;
    cursor: pointer;
    border-radius: 30px;
  }
  input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #FFB100;
    cursor: pointer;
  }

  .slider-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

/* End Ranger Slider */
  


.primary-btn {
    background-color: $text-lyellow !important;
    padding: 7px 10px;
    border-radius: 3px;
    font-size: 14px;
    color: #000000;
    font-weight: 600;
    border: 0;
    cursor: pointer;
    // height: 36px;
    border: 1px solid $text-lyellow;
    background: linear-gradient(to right, #fff 50%, $text-lyellow 50%);
    background-size: 255% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    display: inline-block;
    line-height: 20px;
    i{
      padding-right: 8px;
    }
    @media(min-width:768px) and (max-width:1199px){
      height: 36px;
    }
    @media(min-width:1700px){
      font-size: 16px;
      padding: 11px 20px;
    }
}
  
  
.primary-btn:hover, .primary-btn:focus{
    color: #000;
    background-position: left bottom;
}
.primary-btn-outline {
  // min-width: 160px;
  @media(min-width: 1499px){
    // min-width: 200px;
  }
}
.primary-btn-outline {
  border: 1px solid #009FFD;
  background: transparent;
  padding: 7px 10px;
  border-radius: 3px;
  font-size: 14px;
  color: #009ffd;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.09);
  background: linear-gradient(to right, $text-blue 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
  line-height: 20px;
  @media(max-width: 767px){
    font-weight: 500;
  }
  @media(min-width:768px) and (max-width:1199px){
    height: 36px;
  }
  @media(min-width:1300px){
    font-size: 14px;
    padding: 6px 12px;
  }
  &:hover, &:focus{
    color: #fff;
    background-position: left bottom;
  }
}
.primary-btn-outline-y {
  // min-width: 160px;
  @media(min-width: 1499px){
    // min-width: 200px;
  }
}
.primary-btn-outline-y {
  border: 1px solid $text-lyellow;
  background: transparent;
  padding: 7px 10px;
  border-radius: 3px;
  font-size: 14px;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.09);
  background: linear-gradient(to right, $text-lyellow 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
  line-height: 20px;
  @media(max-width: 767px){
    font-weight: 500;
  }
  @media(min-width:768px) and (max-width:1199px){
    height: 36px;
  }
  @media(min-width:1300px){
    font-size: 14px;
    padding: 6px 12px;
  }
  &:hover, &:focus{
    color: #000;
    background-position: left bottom;
  }
}
//GET IN TOUCH
.primary-btn-icon {
    border: 1px solid #EEEEEE;
    background: #ffffff;
    padding: 13px 18px;
    padding-right: 50px;
    border-radius: 3px;
    font-size: 14px;
    color: #000;
    font-weight: 600;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.09);
    position: relative;
  span{
    background-color: #f2f2f2;
    border: 1px solid #dbdada;
    border-radius: 0 3px 3px 0;
    position: absolute;
    right: 0;
    padding: 10px 12px;
    top: 0;
    height: 100%;
    img{
      height:20px;
      width: auto;
    }
  }
  @media(max-width: 767px){
    font-weight: 500;
  }
 
}
.grey-btn {
  background-color: #D9D9D7;
  padding: 7px 10px;
  border-radius: 3px;
  font-size: 14px;
  color: #000000;
  font-weight: 600;
  border: 0;
  cursor: pointer;
  // height: 36px;
  border: 1px solid #D9D9D7;
  background: linear-gradient(to right, #fff 50%, #D9D9D7 50%);
  background-size: 255% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
  display: inline-block;
  line-height: 20px;
  i{
    padding-right: 8px;
  }
  @media(min-width:768px) and (max-width:1199px){
    height: 36px;
  }
  @media(min-width:1700px){
    font-size: 16px;
    padding: 8px 15px;
  }
}
.grey-btn:hover, .grey-btn:focus{
  color: #000;
  background-position: left bottom;
}
//round btn
.round-btn{
  color: #000;
  background-color: #F8F8F8;
  position: relative;
  display: block;
  padding: 6px 14px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 15px;
  box-shadow: 0px 3px 3px #0000001A;
  border: 1px solid #696767;
  @media(max-width: 767px){
    font-size: 14px;
  }
  &.active{
      background-color: $text-lyellow;
      border-color: $text-lyellow;
  }
}

.primary-btn-outlin:focus,.primary-btn-outlin:hover{
  border: 1px solid #009FFD;
}

.fl-text-box {
  position: relative;
  //margin: 20px auto;
  margin-bottom: 25px;
  .txt-box {
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid $text-lgray;
    height: 36px;
    &:active{
      outline: none;
      border: 1px solid #ffc600;
    }
    &:focus{
      outline: none;
      border: 1px solid #ffc600;
    }
    @media(min-width:1700px){
      height: 45px;
    }
}
label {
  position: absolute;
    left: 10px;
    top: 10px;
    z-index: 2;
    color: #696767;
    font-weight:400;
    font-size: 14px;
    pointer-events: none;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    @media(min-width:1700px){
      font-size: 16px;
      top: 12px;
    }
    span {
      color: #B7B7B7;
  }
}

}
.text-box-date{
  position: absolute;
  top:0;
  right:0;
  font-size: 20px;
  color: #7C7C7C;
  top: 50%;
  transform:translate(0, -50%);
    right: 9px;
    z-index: 1;
    cursor: pointer;
}

.fl-text-box .txt-box:focus ~ label{
  top: -7px;
  font-size: 12px;
  color: #c9c9c9;
  left: 12px;
  background: white;
  padding: 0px 3px;
}

.fl-text-box.focused label, .floating-label.focused label{
  top: -7px;
  font-size: 12px;
  color: #c9c9c9;
  left: 12px;
  background: white;
  padding: 0px 3px;
}
.custom-file-input {
  color: transparent;
  position: absolute;
  width: 100px;
  margin-right: 13px;
  opacity: 0;
    z-index: 999;
}
.upload-file{
  label{
    margin-bottom: 20px;
    display: inline-block;
  }
  span{
    color: $text-gray;
    font-size: 14px;
    display: inline-block;
    margin-top: 0;
    //padding-left: 13px;
  }
  .remove-files{
    position: absolute;
    top: 10px;
    right: 25px;
    display: none;
    cursor: pointer;
  }
}
.preview-div{
    border: 1px dashed #989898;
    border-radius: 5px;
    padding: 8px 12px;
    display: none;
    margin-bottom: 20px;
    i{
      color: $text-lyellow;
      padding-right: 7px;
    }
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.up-p{
  position: relative;
  margin-right: 13px;
  @media(max-width:767px){
    margin-bottom: 10px;
  }
}
.up-p::before {
  content: 'Upload';
    color: $text-blue;
    display: inline-block;
    box-shadow: 0px 3px 3px #0000001A;
    border: 1px solid $text-blue;
    border-radius: 5px;
    padding: 9px 10px;
    outline: none;
    padding-left: 36px;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 14px;
}
.up-p::after{
  content: "\e914";
  font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 21px;
    color: $text-blue;
    top: 8px;
    left: 10px;
    z-index: 1;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}
.checkbox-flex-wrp{
  padding-left: 0;
  margin-top: 10px;
  margin-bottom: 30px;
  li{
    list-style: none;
  }
  .styled-checkbox {
    position: absolute;
    opacity: 0;
    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
      display: flex;
      top:-1px;
    font-size: 14px;
    line-height: 24px;
    }
    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      flex:0 0 16px;
      height: 15px;
      background: white;  
      border: 1px solid $text-lgray;
      margin-top: 3px;
      @media(max-width:991px){
        width: 30px;
      }
    }
  
    &:checked + label:before {
      background: $text-lyellow;
      border-color: $text-lyellow;
    }
    
    &:disabled + label {
      color: #b8b8b8;
      cursor: auto;
    }
    &:disabled + label:before {
      box-shadow: none;
      background: #ddd;
    }
    &:checked + label:after {
      content: '';
      position: absolute;
      left: 3px;
      top: 10px;
      background: white;
      width: 2px;
      height: 2px;
      box-shadow: 
        2px 0 0 white,
        4px 0 0 white,
        4px -2px 0 white,
        4px -4px 0 white,
        4px -6px 0 white,
        4px -8px 0 white;
      transform: rotate(45deg);
    }
  }
}

@media(min-width: 1700px){
  .checkbox-flex-wrp .styled-checkbox + label{
    font-size: 17px;
  }
}
.link-text{
  color: #009FFD;
  text-decoration: underline;
  font-size: 14px;
    font-weight: 600;
}

@media(min-width: 1700px){
.upload-file-fix .view-uploaded-file .up-p{
  padding: 4px 0px;
}
}

.deposit-summary-hd.recurring .summary-right .btn-inline button.primary-btn-outline{
  padding: 0px;
  line-height: 1.0;
}