.hide-e {
  display: none;
}
.sec-login {
  min-height: 600px;
  position: relative;

  @media (max-width: 767px) {
    .modal-body {
      max-width: 90%;
      // left: 0;
      margin: 5% auto;
      //top: 20%;
      // transform: none;
    }
    .popup-overlay,
    .modal-dialog {
      top: 87px;
    }
  }
}

.popup-overlay {
  position: fixed;
  top: 96px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(224, 207, 171, 0.91);
  z-index: 999;
}
.modal-breadcrum {
  background-color: #ffffff;
  padding: 20px 0;
}
.modal-dialog {
  position: fixed;
  top: 118px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  .b-wrap {
    display: flex;
    align-items: center;
    .back {
      cursor: pointer;
    }
    ul {
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        color: #ffb100;
        font-size: 12px;
        margin-left: 15px;
        position: relative;
        a {
          color: #b7b7b7;
          font-size: 13px;
        }
        &:first-child {
          &::after {
            display: none;
          }
        }
        &::after {
          content: ">";
          position: absolute;
          left: -10px;
          color: #b7b7b7;
        }
      }
    }
  }
}
.modal-body {
  position: absolute;
  top: 50%;
  max-width: 468px;
  width: 468px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 2px;
  padding: 30px;
  p,
  h4,
  .fl-text-box {
    margin: 0 0 20px;
  }
  h3 {
    font-size: 22px;
    color: #11ce01;
  }
  .model-close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    color: #7c7c7c;
    img {
      height: 20px;
    }
  }
}

.forgot-user-id {
  text-align: left;
}

.v-opt {
  margin-bottom: 20px;
  .otp-time {
    span {
      font-size: 10px;
      color: #7c7c7c;
    }
  }
  .v-otp-box {
    align-items: center;
    display: flex;
    .otp-inputs {
      display: flex;
      input {
        margin-right: 10px;
        border: 1px solid #eeeeee;
        width: 35px;
        height: 37px;
        border-radius: 4px;
        text-align: center;
        font-weight: 600;
        font-size: 17px;
      }
    }
    .otp-resend {
      a {
        color: #009ffd;
        font-size: 12px;
        text-decoration: underline;
        padding-left: 10px;
      }
    }
  }
}

.points-earned {
  max-width: 468px;
  width: 100%;
  .points-box {
    margin-top: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 50px 0;
    max-width: 190px;
    margin: 20px auto 135px;
    border-radius: 12px;
    text-align: center;
    background: transparent linear-gradient(180deg, #ffda5d 0%, #ffffff 100%) 0%
      0% no-repeat padding-box;
    h5 {
      font-weight: 500;
    }
    p {
      font-size: 55px;
      font-weight: 500;
      margin: 30px 0 0;
      color: #000;
    }
  }
}

.card-list {
  padding: 0;
  margin: 0 0 20px;
  li {
    color: #7c7c7c;
    margin-bottom: 7px;
    list-style: none;
    font-size: 14px;
    &:last-child {
      margin-bottom: 0px;
    }
    span {
      color: #000000;
    }
  }
}

.ap-loan {
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  @media (min-width: 992px) and (max-width: 1199px) {
    min-height: 128px;
  }
  img {
    width: 100%;
  }
  .apl-content {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px;
    .apl-col {
      position: relative;
      p {
        font-size: 14px;
        margin: 0;
        padding: 0;
        color: #000;
        line-height: 20px;
        a {
          font-size: 16px;
          color: $text-blue;
          padding-top: 5px;
          display: inline-block;
          font-weight: 500;
          &:hover,
          &:focus {
            text-decoration: none;
          }
        }
      }
      h4 {
        margin: 0;
        font-size: 20px;
        font-weight: 500;
      }
      &:first-child {
        &:after {
          content: "";
          width: 1px;
          height: 100%;
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          background-color: #e0e0e0;
        }
      }
    }
    .col1 {
      width: 60%;
      p {
        margin-right: 10px;
      }
    }
    .col2 {
      width: 40%;
      p {
        color: #7c7c7c;
        padding-bottom: 5px;
      }
    }
  }
}

// Revards :: START

.revard-box {
  border: 1px solid #e0e0e0;
  padding: 20px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  p {
    font-size: 14px;
    color: #7c7c7c;
    margin: 0;
  }
  h3 {
    font-size: 22px;
    margin: 0;
  }
  @media (max-width: 767px) {
    padding: 20px 11px;
    .col6 {
      h3 {
        font-size: 18px;
      }
    }
  }
}
.earn-reward {
  height: 130px;
  border-radius: 3px;
  padding: 15px;
  position: relative;
  margin-bottom: 20px;
  box-shadow: 0px 3px 6px #0000001a;
  border: 1px solid #eeeeee;
  display: flex;
  &.earn-reward-grey {
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 74%;
      background: #b7b7b7;
      z-index: -1;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    &:after {
      display: none;
    }
    p {
      color: #fff;
    }
  }
  p {
    font-size: 13px;
    margin: 0;
    padding-bottom: 0;
    color: #000;
    line-height: 21px;
  }
  button {
    margin-top: 15px;
  }
  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 26%;
    background: #f4f4f4;
    z-index: -1;
  }
  // img {
  // }
}

// Message Modal
.popup-modal {
  .modal-body {
    background: transparent;
  }
}
.messageModel {
  //position: fixed;
  // bottom: 50px;
  // top: 50%;
  max-width: 100%;
  width: 468px;
  // left: 50%;
  // -webkit-transform: translate(-50%, -50%);
  // transform: translate(-50%, -50%);
  z-index: 99;

  .message-content {
    text-align: center;
    width: 300px;
    max-width: 100%;
    padding: 60px 0;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: relative;
    margin: 0 auto;
    background-image: url("../img/temp/msg-bg.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    p {
      font-size: 22px;
      margin: 0;
      font-weight: 500;
    }
    .msgclose {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      img {
        height: 15px;
      }
    }
  }
}

.forgot-mpin {
  padding: 30px;
}
.network-card {
  border: 1px solid #e0e0e0;
}
.modalbody-sm {
  max-width: 400px;
}
@keyframes modalAnim {
  0% {
    transform: translate(-50%, -100%);
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
.show-modal {
  .modal-body {
    animation: modalAnim 0.7s ease-out;
  }
}
.bg {
  background-size: cover;
  background-repeat: no-repeat;
}

.sec-login.deposit-popup .modal-body h3 {
  font-size: 28px;
  margin-bottom: 20px;
}

.deposit-popup {
  .modal-body.rapid {
    max-width: 650px;
    width: 650px;
  }
  .messageModel {
    width: auto;
  }
}

@media (max-width: 767px) {
  .deposit-popup {
    .modal-body.rapid {
      max-width: 90%;
      width: 90%;
    }
  }
  .sec-login.deposit-popup .modal-body h3 {
    font-size: 20px;
  }
}

.fcl-style {
            padding-left: 30px;
            list-style: none;
            margin-top: 0px;
        }

        .sec-login.pwd-popup .modal-body .fcl-style li p {
            font-size: 14px;
            padding-bottom: 0px;
        }

        .fcl-style li {
            position: relative;
        }

        .fcl-style li span {
            position: absolute;
            left: -30px;
        }

        .fcl-popup .modal-body {
            max-width: 800px;
            width: 800px;
            top: 50%;
            height: 500px;
            overflow: auto;
            &::-webkit-scrollbar{
              width: 5px;
            }
            &::-webkit-scrollbar-track {
                background: #f1f1f1;
              }
            &::-webkit-scrollbar-thumb {
              background: #888;
            }
        }

        .fcl-popup .messageModel {
            width: auto;
        }

        .fcl-table tr td {
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            width: 50%;
        }

        .fcl-table tr td:last-child {
            border-right: 0px;
        }

        .fcl-table tr td p {
            font-size: 14px !important;
        }

        .table-border.fcl-table {
            padding-bottom: 0px;
        }
        .fcl-popup{
          .popup-overlay{
              top:0px;
            }
        }
        @media(max-width:767px){
            .fcl-popup .modal-body {
            max-width: 100%;
            width: 100%;
            top: 50%;
            height: auto;
        }
        }

        .service-popup .modal-body {
            width: 650px;
            max-width: 650px;
        }

        .service-popup .messageModel {
            width: auto;
        }

        .ser-text {
            margin-bottom: 30px;
        }

        .sec-login.pwd-popup .modal-body .ser-text p {
            font-size: 16px;
            margin-bottom: 0px;
            padding-bottom: 0px;
        }

        .note-list.ser-arrow li i {
            top: 4px;
        }

        .renewal-req{
          .modal-body{
            max-width: 600px;
            width: 600px;
          }
          .messageModel{
            width: auto;
          }
        }

         @media(max-width: 767px) {
            .service-popup .modal-body {
                width: 100%;
                max-width: 100%;
            }
            .renewal-req .modal-body {
                max-width: 100%;
                width: 100%;
            }
        }

        .deposit-popup{
          .radio-group {
              margin-bottom: 0px !important;
          }
        }