.ver-stepper {
  display: flex;
  column-gap: 50px;
  width: 100%;
}
.ver-right {
  width: 100px;
  position: relative;
  z-index: 2;
  .stepper-group {
    position: fixed;
    display: flex;
    flex-direction: column;
    row-gap: 70px;
  }
}
.nf-details {
  width: calc(100% - 100px);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 1px 2px 8px #00000029;
  border-radius: 15px;
}
.hide-e{
  display: none;
}
.par-nstep {
  position: relative;
  .nstep-icons {
    border: 1px solid #c6c2c2;
    border-radius: 50%;
    // -webkit-box-shadow: 0px 3px 6px #00000029;
    // box-shadow: 0px 3px 6px #00000029;
    background-color: #dedede;
    width: 70px;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 5;

    &.y-color {
      border-color: #ffc600;
      background-color: #fff;
    }
    img {
      width: 35px;
    }
  }
  &:nth-child(1) {
    &::after {
      content: "";
      position: absolute;
      top: 60px;
      background-color: #dedede;
      width: 3px;
      left: 50%;
      height: 100px;
      z-index: -1;
    }
  }
  .hover-text {
    position: absolute;
    height: 70px;
    width: 70px;
    top: 0px;
    left: 1px;
    z-index: -1;
    display: flex;
    justify-content: end;
    align-items: center;
    border: 1px solid #dedede;
    background-color: #fff;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 50px;
    padding-right: 14px;
    transition: 0.5s;
    opacity: 0;
    p {
      padding-bottom: 0px;
      color: #000;
      font-size: 16px;
    }
  }
  &:hover {
    .hover-text {
      width: 170px;
      opacity: 1;
    }
  }
}
.mr-flex {
  display: flex;
  align-items: flex-start;
  column-gap: 10px;
  select {
    height: 36px;
    border-radius: 0px;
    border: 1px solid #dfdfdf;
    font-size: 14px;
    background-color: #dfdfdf;
    &:focus {
      outline: none;
    }
    &.pay_select{
      width: 100%;
      padding: 0px 10px;
    }
  }
  .mr_input{
    width: 25px;
    height: 36px;
    border-radius: 0px;
    border: 1px solid #dfdfdf;
    font-size: 14px;
    background-color: #dfdfdf;
    font-weight: 400;
    color: #333;
    &:focus {
      outline: none;
    }
  }
}
.open_nfd {
  margin-top: 0px;
}
.nfo-bg-none {
  background-image: none;
  background-color: #f5f5f5;
  border: 0px;
  position: relative;
  margin-top: 25px;
}
.suc-box.chg-color {
  p {
    color: #dd8151;
  }
}
.suc-group.now-suc {
  .fd-suc-data {
    padding: 10px;
    border-bottom: 1px solid #a3a3a3;
    &:last-child {
      border: 0px;
    }
  }
}
.nfd-form-heading {
  text-align: center;
  margin-top: 25px;
  h3 {
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin-bottom: 5px;
  }
  p {
    font-size: 15px;
    color: #5f5f5f;
    padding-bottom: 0px;
  }
}
.fd_logo-form {
  width: 120px;
  background-color: #fff;
  padding: 10px;
  border-radius: 6px;
  position: absolute;
  top: -30px;
  left: 44%;
}
.like-bg {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 16px 0px;
}
.red-text {
  color: #ee2b2b !important;
}
.orange-text{
  color: #dd8151 !important;
}
.radio-head {
  .subtitle-1 {
    width: 200px;
  }
}
.hover-info {
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 10px;
  position: relative;
  span {
    border: 1px solid #a5a5a5;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a5a5a5;
    font-size: 10px;
    cursor: pointer;
  }
  small {
    font-size: 11px;
    position: absolute;
    top: -15px;
    right: 10px;
    opacity: 0;
    color: #a5a5a5;
    transition: 0.5s;
  }
  span:hover + small {
    opacity: 1;
    right: 10px;
  }
}
.angle-up-btn {
  box-shadow: 0px 3px 6px #0000001A;
  background-color: #FFFFFF;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; 
  right: 62px;
      top: 100px;
  @media(max-width:767px){
      width: 29px;
      height: 29px;
      top: auto;
      bottom: 60px;
      right: 15px;
  }
  @media(min-width:768px) and (max-width:991px){
      width: 35px;
      height: 35px;
  }
  @media(min-width:992px) and (max-width:1199px){
      right: 15px;
      top: auto;
      bottom: 10px;
  }
  @media(min-width:1200px) and (max-width:1399px){
      right: 20px;
      
  }
  i{
      font-size: 20px;
      color: $text-blue;
      margin-right: 0!important;
  }
}
.paymet-det {
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  padding: 30px;
  td {
    padding: 20px !important;
  }
  .blue-color {
    margin-bottom: 20px !important;
  }
}
.bod-sec.ele-sec .bod-right-inner {
  width: 300px !important;
  max-width: 100%;
  @media (max-width: 767px) {
    width: 100% !important;
  }
}
.bod-sec.ele-sec{
  overflow: hidden;
.row.c-reverse {
  flex-direction: row-reverse;
}

}
.mb-20 {
  margin-bottom: 20px !important;
}
.col-auto > div .shiram-det {
  border-right: 1px solid #b4b3b3;
  min-height: inherit;
  margin-top: 20px;
  h4{
    margin-bottom: 12px;
  }
  p{
    padding-bottom: 0px;
    line-height: 1.5;
  }
  &.remove_rb{
    border-right: 0px;
  }
}
.modal-body.rapid{
  max-width: 500px;
  width: 500px;
}

@media(max-width: 767px){
  .col-auto > div .shiram-det{
    border-right: 0px ;
    margin-top: 0px;
    h4{
      margin-bottom: 4px;
    }
  }
  .shiram-box{
    img{
      width: 50px;
      display: flex;
    }
  }
  .radio-group{
    label{
      margin-bottom: 7px;
      font-size: 14px;
    }
  } 
  .modal-body.rapid{
    max-width: 90%;
    width: 90%;
}
.paymet-det{
  padding: 18px;
  .radio-par {
    margin-bottom: 10px;
}
}
.bod-right {
  margin: 0px auto 15px !important;
}
}

// Ganesh
#sub-suc-g {
  display: none;
}
.color-green {
  color: #1b9b20 !important;
}

#succ-table {
  border: 1px solid #fbcd1a;
  max-width: 900px;
  margin: 0 auto;
  border-collapse: collapse;

  th {
    text-align: left;
    padding: 15px 30px;
    background: #fbcd1a;
    font-size: 20px;
    font-weight: 600 !important;
  }
  td {
    padding: 15px 30px;
    border-bottom: 1px solid #fbcd1a;
    width: 50%;
  }
  .fd-static {
    font-size: 16px;
    color: #8b8b8b;
  }
}

#succ-table tr:last-child td {
  border: none;
}
.btm-cent-g {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 50px;
}
.sel-box-g {
  min-width: 140px;
  padding-left: 10px;
}
.par-nstep.active .hover-text p {
  color: #ffc600;
}
.scc-icon {
  display: none;
}
.par-nstep.success .nstep-icons.y-color {
  background: #319458;
  border-color: #319458;
  img {
    display: none;
  }
  .scc-icon {
    display: block;
  }
}
.par-nstep.success:nth-child(1)::after {
  background: #319458;
}
.activ-svg {
  display: none;
}
#par-stp-2.active img {
  display: none;
}
#par-stp-2.active .activ-svg {
  display: block;
  width: 35px;
}
.scu-sg svg {
  width: 100%;
  height: 100%;
}

.scu-sg {
  display: block;
  width: 60px;
  margin: 10px auto;
  height: 60px;
}

.par-nstep:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 60px;
  background-color: #dedede;
  width: 3px;
  left: 50%;
  height: 100px;
  z-index: -1;
}
.grey-co path {
  fill: white;
}

.grey-co {
  width: 45px;
}

.nstep-icons svg {
  width: 35px;
  height: 35px;
}

.nstep-icons img {
  width: 35px;
  height: 35px;
}
#par-stp-2.active.success .activ-svg {
  display: none;
}
.par-nstep.success:nth-child(2)::after {
  background: #319458;
}
.par-nstep .nstep-icons.y-color .grey-co path {
  fill: #ffc600;
}
.mr-flex select{
  width: auto;
}
// .mr-flex select {
//   height: 45px;
// }
// .checkbox-flex-wrp.nfd-checkbox.align-bd .styled-checkbox + label:before {
//   margin-left: 30px;
//   margin-top: 7px;
// }
// #fd-pa-g .fl-text-box .txt-box {
//   background: transparent;
// }

#fd-pa-g .text-box-date {
  z-index: -1;
}

.par-nstep:nth-child(2)::after {
  opacity: 0;
}

#par-stp-3 {
  display: none;
}
.fd-edit a {
  font-size: 14px;
}
.par-nstep.success:nth-child(2)::after {
  opacity: 1;
}
@media (max-width: 767px) {
  .mr-flex select {
    height: 36px;
  }
  .ver-stepper {
    flex-direction: column;
    margin-top: 20px;
  }

  .ver-right {
    float: left;
    position: fixed;
    top: 90px;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    z-index: 9;
    padding: 10px 0px 28px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  }

  .nf-details {
    width: 100%;
    margin-top: 90px;
    padding: 15px;
    margin-bottom: 15px;
  }

  .ver-right .stepper-group {
    width: 100%;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    max-width: 100%;
    margin: auto;
  }

  .par-nstep .nstep-icons {
    width: 60px;
    height: 60px;
  }
  .par-nstep .nstep-icons img {
    width: 30px;
    height: 30px;
  }
  .nfd-tb-flex {
    padding-inline: 10px;
  }
  .nfd-matur-text {
    width: 50%;
    text-align: center;
  }
  .fd_logo-form {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .profile-flex {
    flex-direction: column;
  }
  .fd-pro-form {
    width: 100%;
    margin-top: 10px;
  }
  .radio-head .subtitle-1 {
    width: 149px;
  }
  #succ-table th,
  #succ-table td {
    padding: 10px;
  }
  .grey-co {
    width: 35px !important;
    height: 35px !important;
  }
  .par-nstep:nth-child(1)::after {
    top: 25px;
    left: 30px;
    height: 3px;
    width: 33vw;
  }
  .par-nstep:nth-child(2)::after {
    top: 25px;
    left: 30px;
    height: 3px;
    width: 33vw;
  }
  .par-nstep .hover-text {
    width: max-content;
    height: auto;
    padding: 5px 5px;
    top: 55px;
    left: 0;
    border-radius: 6px;
    opacity: 1;
    background-color: transparent;
    border: 0px;
    box-shadow: none;
  }

  .par-nstep .hover-text p {
    font-size: 14px;
  }
  .par-nstep:hover .hover-text {
    width: max-content;
    opacity: 1;
  }
  .copy-send-btn {
    width: 100%;
  }
  #par-stp-1.two-step:after {
    width: 78vw;
  }
  .btn-login{
    font-size: 15px !important;
  }
  .radio-group .radio-par{
    margin-right: 15px;
  }
  .nfd-tb-flex .tb-data{
    span{
      font-size: 14px;
    }
    p{
      font-size: 16px;
    }
  } 
  .nfd-matur-text p{
    font-size: 14px;
    line-height: 1.4;
  }
  .datapointno-border{
    padding: 10px 10px;
  }
}
.fl-text-box.fl-bg{
  .txt-box{
    border-color: #dfdfdf;
    background-color: #dfdfdf;
    border-radius: 0px;
  }
  label{
    color: #333;
  }
  &.focused{
    label{
      top: -15px;
      left: 0px;
      padding: 0px;
      background: transparent;
      color: #333;
    }
  } 
}
.subtitle-1.nfd-sub{
  font-size: 18px;
}
.nfd-ss{
  margin-top: 15px;
}
.nfd_spc_btn{
  justify-content: space-between;
}
.sped-sec.nfd-sprd{
  padding-bottom: 0px;
}
.floating-label.fl_sct_bg{
  .floating-select{
    border-color: #dfdfdf;
    background-color: #dfdfdf;
    border-radius: 0px;
  }
  label{
    color: #333;
  }
  &.focused{
    label{
      left: 0px;
      top: -15px;
      color: #333;
      padding: 0px;
    }
  }
}
.form-sec-pad{
  margin-bottom: 15px;
}
.taggle-group{
  display: flex;
  border: 1px solid #efefef;
  border-radius: 4px;
  button{
    width: 60px;
    height: 30px;
    background-color: #F8F8F8;
    border: 0px;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
  }
  .tag_no{
    &.active{
      background-color: #FBCD1A;
      color: #000;
    }
  }
  .tag_yes{
    &.active{
      background-color: #FBCD1A;
      color: #000;
    }
  }
}
.ifsc_par{
  position: relative;
  .ifsc_btn{
    position: absolute;
    z-index: 1;
    top: 6px;
    right: 6px;
    font-size: 12px;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    color: #000;
  }
}
#guardian, #manual_flow, #pan_details, #unkyc, #sub_pan, #data_collect, #guardian_dtl, #gurdian_per{
  display: none;
}
.in_block{
  display: inline-block;
}
.un-border{
  border: 1px solid #B7B7B7;
  border-radius: 5px;
  padding: 20px;
  h3{
    font-size: 18px;
    color: #EA2929;
    font-weight: 500;
    margin-bottom: 8px;
  }
  p{
    font-size: 15px;
    color: #5F5F5F;
    padding-bottom: 0px;
  }
}
.aa_man{
  margin-top: 30px;
  .radio-group{
    margin-bottom: 0px !important;
  }
}
.checkbox-flex-wrp.gdn-cbox{
  margin-top: 0px;
  margin-bottom: 0px;
  flex: 0px;
}
.tdx_sub_heading{
  font-size: 15px;
  color: #424242;
  font-weight: 400;
  text-align: left;
}
.tds_popup{
  position: relative;
  .tds_body{
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    position: fixed;
    height: 100%;
    z-index: 9999;
  }
  .tds_modal-body{
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    max-width: 850px;
    width: 850px;
    z-index: 9999;
    top: 0px;
    left: 0px;
    margin: 50px auto 0px;
    transform: none;
    position: relative;
    .messageModel{
      max-width: 100%;
      width: 100%;
    }
    .msgclose{
      img{
        width: 15px;
        position: absolute;
        top: 15px;
        right: 15px;
      }
    }
  }
  .popup-overlay{
    top: 0px;
  }
  .modal-dialog{
    top: 0px;
  }
}

.tds_list{
  text-align: left;
  margin-bottom: 20px;
  display: none;
  height: 150px;
  overflow-y: scroll;
  /* width */
&::-webkit-scrollbar {
  width: 5px;
}

/* Track */
&::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
&::-webkit-scrollbar-thumb {
  background: #ffc600; 
  border-radius: 10px;
}

/* Handle on hover */
&::-webkit-scrollbar-thumb:hover {
  background: #ffc600; 
}
  .tdx_sub_heading{
    margin-bottom: 10px;
  }
  ul{
    padding-left: 22px;
    &:last-child{
      margin: 0px;
    }
    li{
      font-size: 13px;
      color: #707070;
      margin-bottom: 10px;
      line-height: 1.4;
      &:last-child{
        margin-bottom: 0px;
      }
      &::marker{
        color: #ffb100;
        font-size: 20px;
        line-height: 0;
      }
    }
  }
}
.tds_btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  button{
    background-color: transparent;
    border: 0px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: end;
    column-gap: 5px;
    color: #ffb100;
    cursor: pointer;
  }
  .primary-btn{
    padding: 7px 30px;
  }
}
.messageModel .message-content .otp-fd{
  .exist_text{
    margin-bottom: 15px;
    h3{
      font-size: 15px;
      margin-bottom: 5px;
    }
  }
}
.radio-group.ex_radio {
  label{
      font-size: 14px;
  }
  .radio-par {
    margin-right: 0px;
    margin-bottom: 12px;
}
}
.fl_radus{
  .floating-select{
    border-radius: 0px;
  }
}
.fl-text-box.fl_radus{
  input{
    border-radius: 0px;
  }
}
.file_ul_btn{
  border: 1px solid #B7B7B7;
  position: relative;
  height: 36px;
  z-index: 5;
  input{
    width: 100%;
    height: 100%;
    opacity: 0;
    position: relative;
    z-index: 5;
  }
  label{
    position: absolute;
    top: 9px;
    left: 12px;
    font-size: 14px;
  }
  button{
    background-color: #CBCBCB;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 35px;
    color: #5F5F5F;
    border: 0;
    font-size: 14px;
    font-weight: 600;
    padding: 0px 35px;
    z-index: 1;
  }
}
.subtitle-1.nfd-sub.relete_info{
  color: #A4A4A4;
  margin-top: 18px;
}
.hover-info.relete_info small{
  left: -20px;
  right: auto;
  &:hover{
    opacity: 1;
  }
}
.btm-cent-g.btm_cgn_p{
  justify-content: end;
  gap: 20px;
}
p.hour_text{
  color: #218821;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 0px;
  margin: 15px 0px;
  line-height: 1.2;
}

@media(max-width: 767px){
  .subtitle-1.nfd-sub {
    font-size: 15px;
}
.nfd-table h3{
  font-size: 14px;
}
.checkbox-flex-wrp{
  margin-bottom: 20px;
}
.suc-box {
  h3{
    font-size: 18px;
  }
  p{
    font-size: 15px;
    line-height: 1.3;
  }
}
.nfd-form-heading{
  h3{
    font-size: 16px;
  }
  p{
    font-size: 14px;
  }
}
.suc-group.now-suc .fd-suc-data{
  padding: 5px;
}
.fd-suc-data{
  .fd-static{
    font-size: 14px;
  }
  .fd-dynamic{
    font-size: 14px;
  }
}
.sped-sec{
  h3{
    font-size: 16px;
  }
} 
.form-sec-pad {
  margin-bottom: 5px;
}
.btm-cent-g{
  margin-top: 0px;
}
.fd-edit{
  align-items: start;
  flex-direction: column;
  row-gap: 8px;
}
.mob-address{
  width: 100%;
}
.un-border{
  h3{
    font-size: 15px;
  }
  p{
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 15px;
  }
}
.fd-flex.nfd-relative{
  margin-bottom: 20px;
}
.mr-flex{
  margin-top: 10px;
}
.mob-upload-space{
  .address-update{
    margin-bottom: 15px;
  }
}
.fd_mob_success{
  padding: 20px 0px;
}
#succ-table{
  th{
    font-size: 16px;
  }
 .fd-static{
  font-size: 14px;
 }
 .fd-dynamic{
  font-size: 14px;
 }
}
.btm-cent-g {
  margin-top: 15px;
}
.tds_popup .tds_modal-body{
  padding: 15px;
    max-width: 100%;
    width: 100%;
    margin: 0px auto 0px;
}
.tds_list{
  height: 100px;
}
.mob_file_ul{
  margin-bottom: 20px;
}
.cut_select_pop{
  .modal-body.rapid{
    width: 95%;
    padding: 30px 12px;
  }
}
.messageModel .message-content .otp-fd .exist_text h3{
  font-size: 14px;
}
.radio-group.ex_radio label {
  font-size: 13px;
}
.messageModel .message-content.message-content-wrp .msgclose {
  top: -22px;
  right: -22px;
}
.messageModel .message-content .otp-fd p{
  br{
    display: none;
  }
}
.file_ul_btn button{
  padding: 0px 10px;
  font-size: 12px;
}
.file_ul_btn label{
  top: 11px;
  left: 9px;
  font-size: 12px;
}
.btm-cent-g.btm_cgn_p{
  justify-content: center;
  gap: 10px;
  .btn-login{
    padding: 7px 5px;
  }
}
p.hour_text{
  font-size: 14px;
}
}