.fd-edit{
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 15px;
    a{
        color: #dd8151;
        font-weight: 500;
        font-size: 15px;
        text-decoration: underline;
    }
}
.fd-table{
    .tb-select{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #B7B7B7;
        padding-bottom: 14px;
        padding-right: 10px;
        h3{
            border: 0px;
            padding-bottom: 0px;
        }
        select{
            background-color: #fff;
            border: 1px solid #DEDEDE;
            width: 40%;
            height: 35px;
            font-size: 15px;
            border-radius: 4px;
        }
    }
}
.fd-tc{
    color: #009FFD;
    text-decoration: underline;
    margin-left: 5px;
}
.messageModel .message-content{
    .otp-fd{
        p{
            font-size: 14px;
            color: #A8A8A8;
            font-weight: 400;
            line-height: 1.3;
            padding-bottom: 15px;
        }
        h3{
            color: #000;
            font-size: 15px;
            font-weight: 500;
        }
    }
}
.fd-pad{
    padding-top: 40px;
}
#cut-otp{
    display: none;
}
#edit-cal{
    display: none;
}
.fd-pay-suc{
    background-image: url(../img/fd/thankyou.jpg);
    background-repeat: no-repeat;
    background-size: 35%;
    padding: 30px;
    border: 1px solid #B7B7B7;
    border-radius: 5px;
    background-position: top right;
}
.suc-box{
    h3{
        color: #11CE01;
        font-size: 24px;
        margin-bottom: 6px;
    }
    p{
        font-size: 16px;
        color: #FF5E5E;
        padding-bottom: 10px;
        font-weight: 500; 
    }
}
.fd-suc-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
        padding-bottom: 0px;
    }
    .fd-static{
        font-size: 15px;
        color: #929292;
    }
    .fd-dynamic{
        font-size: 15px;
        color: #000;
        width: 20%;
    }
}
.fd-like{
    text-align: center;
    margin-top: 20px;
    p{
        padding-bottom: 15px;
        color: #000;
        font-size: 18px;
    }
}
.smile-img {
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    img{
        filter: grayscale(1);
        &:hover{
            filter: grayscale(0);
        }
    }
    &.act{
        img{
            filter: grayscale(0);
        }
    }
}
.sped-sec{
    padding: 40px 0px;
    h3{
        font-size: 18px;
    }
    p{
        padding-bottom: 2px;
        color: #000;
        font-size: 15px;
    }
}

.copy-send-btn{
    border: 1px solid #009FFD;
    background-color: #fff;
    color: #009FFD;
    font-size: 15px;
    width: 100%;
    padding: 8px 0px;
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 0px 3px 3px #0000001A;
    cursor: pointer;
}
.copy-txt{
    width: 100%;
    height: 36px;
    border-radius: 0px;
    border: 1px solid #B7B7B7;
    padding: 0px 10px;
    font-size: 14px;
    margin-bottom: 12px;
}

.profile-pic{
    position: relative;
    width: 100px;
    img{
        border-radius: 10px;
    }
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        padding: 3px 8px;
        font-size: 12px;
        column-gap: 5px;
        position: absolute;
        bottom: 7px;
        right: 7px;
        border-radius: 6px;
        cursor: pointer;
    }
}

.profile-flex{
    display: flex;
    align-items: flex-start;
    column-gap: 20px;
}
.fd-pro-form{
    width: calc(100% - 100px);
}

.fd-table.fd-width{
    table td{
        width: 20%;
    }
}
.radio-head{
    display: flex;
    align-items: baseline;
    column-gap: 15px;
    .radio-group{
        margin-bottom: 0px !important;
        .radio-par{
            margin-bottom: 0px;
        }
    }
}
#nom-detail, #ref-detail, #payment-succes, #per-dlt, #up-addess, #up-addess2, #fd-appn, #join-panno, #join-per-dlt, .join-holder-f{ 
    display: none;
}
.lms-pading{
    padding: 40px 0px;
}
.fd-invers.reg-cal{
    margin-top: 0px;
    justify-content: start;
}

.fd-suc-bg{
    padding-top: 40px;
}

.stfcstepper-form.fd-step .stepper-head ul li.active .step-h .round::after{
    display: none;
}
.stfcstepper-form.fd-step .stepper-head ul li .step-h .round::after{
    display: none;
}

.stfcstepper-form.fd-step .stepper-head ul li.active .step-h .round{
    width: 60px;
    height: 60px;
}
.stfcstepper-form.fd-step .stepper-head ul li.active .step-h .round .st-num{
    width: 40px;
    height: auto;
    box-shadow: none;
    background-color: #ffc600;
}
.stfcstepper-form.fd-step .stepper-head ul li .step-h p{
    top: 55px;
}
.stfcstepper-form.fd-step .stepper-head ul li .step-h .round{
    width: 60px;
    height: 60px;
    background-color: #ffc600;
    border-color: #ffc600;
}
.stfcstepper-form.fd-step .stepper-head ul li .step-h .round .st-num{
    width: 40px;
    height: auto;
    box-shadow: none;
    background-color: #ffc600;
}

.address-update{
    border: 1px solid #B7B7B7;
    border-radius: 0px;
    position: relative;
    height: 35px;
    input{
        opacity: 0;
        padding: 6px 5px;
        position: relative;
        z-index: 4;
        width: 100%;
    }
    .file-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width: 100%;
        padding: 0px 8px;
        top: 2px;
        left: 0px;
        p{
            padding-bottom: 0px;
            font-size: 12px;
        }
        img{
            width: 15px;
        }
    }
}
.mself{
    display: inline-block;
    h3{
        font-size: 16px;
        color: #000;
    }
    p{
        font-size: 15px !important;
        padding: 5px 15px;
        background-color: #F5F5F5;
        border-radius: 5px;
    }
}
.radio-group.hold-popup{
    .radio-par{
        margin-bottom: 0px;
    }
}
.success-style.fd-app-sum{
    background-size: 50%;
    .p-style{
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .mar-tb-style{
        margin-bottom: 10px;
    }
    .addr-btn{
        margin-top: 10px;
        margin-bottom: 0px;
    }
}
.join-pan{
    display: flex;
    justify-content: start;
    align-items: start;
    column-gap: 20px;
}

@media(max-width: 767px){
    .fd-pad{
        padding-top: 20px;
    }
    .lms-pading {
        padding: 10px 0px;
    }
    .fd-suc-bg {
        padding-top: 10px;
    }
    .fd-pay-suc{
        padding: 20px;
        background-image: none;
    }
    .fd-suc-data .fd-dynamic{
        width: 30%;
    }
    .fd-like p{
        line-height: 1.2;
        font-size: 15px;
    }
    .smile-img{
        width: 12%;
    }
    .sped-sec{
        padding: 20px 0px;
        .fl-text-box{
            margin-bottom: 15px;
        }
    }
    .copy-send-btn{
        width: 90px;
        font-size: 12px;
    }
    .fd-heading{
        .subtitle-1{
            font-size: 17px;
        }
    }
    .success-style.fd-app-sum{
        background-image: none !important;
    }
    .fd-invers.reg-cal{
        margin-bottom: 12px;
    }
    .mob-bank{
        flex-direction: column;
        gap: 10px;
        margin-bottom: 8px;
        .address-update{
            width: 100%;
        }
    }
    .mob-address{
        width: 160px;
    }
}

