.t-grey {
  color: #b7b7b7 !important;
}

#depo-sum {
  width: max-content;
  max-width: 100%;
  overflow-x: auto;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  margin-block: 20px;
  th {
    text-align: left;
    padding: 20px;
    border-bottom: 1px solid #b7b7b7;
  }
  td {
    padding: 20px 30px;
  }
}

.pay-sec-tab {
  margin-bottom: 20px;
  th {
    padding: 20px;
    border-bottom: 1px solid #dddddd;
  }
  td {
    p {
      padding: 0px !important;
    }
  }
}

.bt-tab {
  border-top: 1px solid #dddddd;
}

.paymet-det {
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  padding: 30px;
  td {
    padding: 20px !important;
  }
  .blue-color {
    margin-bottom: 20px !important;
  }
}

#fd-docs {
  .stfcstepper-form .stepper-content {
    margin-top: 65px;
  }
  .radio-par {
    margin-bottom: 0px;
  }
  .bank-info {
    p {
      padding-bottom: 0px;
      display: flex;
      align-items: center;
      span {
        margin-right: 3px;
      }
    }
  }
}

.slect-bank-g {
  display: flex;
  margin-bottom: 20px;
  .bank-list-g {
    margin-right: 20px;
  }
}

.no-depo-sec {
  .success-style {
    background-image: url(../img/post-login/noloan.webp);
    background-size: 30%;
    background-position-x: 90%;
  }
}

.w-100 {
  width: 100%;
}

.pay-sec-tab td {
  padding: 10px 20px !important;
  white-space: normal !important;
  width: 50%;
}

.my-20 {
  margin-block: 20px !important;
}
.pt-0 {
  padding-top: 0px !important;
}
.pl-0 {
  padding-left: 0px !important;
}
.mb-30 {
  margin-block-end: 30px !important;
}

.ex-hd {
  margin-bottom: 20px;
  @media (min-width: 1600) {
    margin-bottom: 20px;
  }
}

.deposit-summary-hd {
  margin-bottom: 30px;
  padding: 0px 0px 30px;
  border-bottom: 1px solid #b7b7b7;
  .subtitle-1 {
    margin-bottom: 25px;
  }
  .dep-border {
    width: max-content;
  }
  .due-pad {
    padding: 20px;
  }
  .border-right {
    border-right: 1px solid #dddddd;
  }
  .due-pay {
    padding: 20px;
  }
  .summary-left {
    border-right: 1px solid #dddddd;
  }
  .summary-right {
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    .btn-inline {
      button {
        min-width: 185px;
        margin-bottom: 20px;
      }
    }
  }
}

.offer-sl {
  .owl-item {
    padding: 0px !important;
  }
}

.deposit-msg {
  display: flex;
  padding: 30px 50px;
  width: max-content;
  margin: auto;
  box-shadow: 0px 3px 6px #ffc60040;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  position: fixed;
  inset: 0;
  height: max-content;
  background-image: url("../img/post-login/bg-sc.webp");
  background-size: cover;
  background-position: center;
  z-index: 99999;
  .close-btn-g {
    position: absolute;
    background: none;
    border: 0;
    right: 12px;
    top: 5px;
    font-size: 22px;
    cursor: pointer;
  }
}

.sum-card-sec {
  margin-bottom: 30px;
  padding: 0px 0px 30px;
  border-bottom: 1px solid #b7b7b7;
  .right-li {
    float: right;
  }
}

#depo-sum-info {
  tr.border-bottom td {
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 20px !important;
  }
  .bod-right-inner.eligibility-nav {
    max-height: auto !important;
  }
}

.fw-500 {
  font-weight: 500 !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.grey-color {
  color: $text-gray !important;
}

.txt-wrap {
  white-space: normal;
}

.ele-wrap-cnt .success-style {
  background-position: 85% 100% !important;
}

.bod-sec.ele-sec .bod-right-inner {
  max-height: unset !important;
}

.t-ul {
  text-decoration: underline;
}

.documents-checklist.ofd-style ul li {
  padding-left: 40px;
}

.open-ul {
  li {
    display: flex;
    align-items: center;
  }
}

.ml-5 {
  margin-left: 5px !important;
}

.icon-Icon-material-lock {
  margin-right: 10px;
}

.scc-btn-g {
  padding: 20px;
}

.mr-20 {
  margin-right: 20px !important;
}

.radio-group label {
  font-size: 16px;
  small {
    font-size: 12px;
  }
}

.exp-txt {
  display: block;
  letter-spacing: 0.02px;
  color: #7c7c7c;
  font-size: 10px;
  @media (min-width: 1600px) {
    font-size: 12px;
  }
}
.break-all {
  word-break: break-all;
}

.cvv-bx {
  padding-left: 10px;
  width: 100%;
}

.radio-par {
  margin-bottom: 20px;
}

.f-14 {
  font-size: 14px !important;
  font-weight: 400;
}

.bod-sec.ele-sec .bod-right-inner {
  width: 300px !important;
  max-width: 100%;
  @media (max-width: 767px) {
    width: 100% !important;
  }
}
.mb-20 {
  margin-bottom: 20px !important;
}
.no-found-area {
  background-repeat: no-repeat;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  padding: 30px;
  background-size: 35%;
  background-position: 90% bottom;
}
.mt-10 {
  margin-top: 10px !important;
}

.border-top-g {
  border-top: 1px solid #b7b7b7;
  padding-top: 20px;
  margin-bottom: 30px;
}

.stage .btn-inline {
  margin-top: 20px;
}
.emi-agreement .icon-icon_edit {
  margin-left: 10px;
}

.icon-Download.remove-files {
  margin-right: 5px;
  font-size: 25px;
  vertical-align: middle;
}

.search-box-wrap {
  background: white;
  box-shadow: 0px 5px 5px #00000014;
  border-radius: 10px;
  padding: 30px;
  max-width: 400px;
  max-height: 600px;
  margin: auto;

  .search-wrap-list {
    border: 1px solid #b7b7b7;
    overflow-y: auto;
    border-top: none;
    border-radius: 0 0 10px 10px;

    li {
      list-style-type: none;
      padding: 5px 10px;
      border-bottom: 1px solid #b7b7b7;
      letter-spacing: 0.19px;
      cursor: pointer;
      &:last-child {
        border-bottom: 0;
      }
      &:hover {
        background-color: #eeeeee;
        p {
          font-weight: 500;
          color: black;
        }
      }
    }
    p {
      margin: 0;
    }
  }
}

.bg-none {
  background: none !important;
}
.tab-h-m {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.paymet-det .floating-select {
  pointer-events: none;
}

.documents-checklist.ofd-style ul li .document-counter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-txt {
  font-size: 14px;
  font-weight: 400;
  @media (min-width: 1600px) {
    font-size: 16px;
  }
}
.mb-20 {
  margin-bottom: 20px !important;
}

.bank-list-g img {
  object-fit: contain;
}
.white-space-wrap td p,
.white-space-wrap th p {
  white-space: nowrap;
}
.white-space-wrap {
  white-space: nowrap;
}
#eligibility-v {
  padding-top: 15px;
}
.table-border tbody tr td {
  // width: 50%;
}
.mast-card-immg img {
  width: 30px;
  height: 20px;
  object-fit: contain;
  position: absolute;
  right: -36px;
  bottom: 21px;
}

@media (max-width: 767px) {
  .no-act-img {
    position: relative;
    max-width: 100%;
    flex: 100%;
    .webpimg-bottom {
      width: 145px;
      position: absolute;
      display: block;
      margin-left: auto;
      right: 10px;
      bottom: 4px;
    }
  }
  .no-found-area {
    padding: 20px;
  }
  .mast-card-immg img {
    position: relative;
    left: 7px;
    top: 4px;
  }
  #fd-docs .bank-info p {
    align-items: baseline;
  }
  .scc-btn-g {
    padding-inline: 0px;
  }

  #depo-sum-info .bod-inner {
    padding: 0;
  }

  .mt-40 {
    margin-top: 20px !important;
  }
  .mt-m-20,
  #mt-m-20 {
    margin-top: 20px !important;
  }

  .bod-sec.suc-app-sec .mt-m-20 {
    margin-top: 20px !important;
  }
  #depo-sum-info .bod-right {
    margin: 15px auto;
  }
  .search-box-wrap {
    width: 70%;
  }
  .popup-overlay {
    top: 88px;
  }

  .deposit-summary-hd .dep-border {
    width: 100%;
  }
  .deposit-summary-hd .due-pad {
    padding: 10px;
    .gray-color {
      font-size: 10px;
    }
    .subtitle-1 {
      font-size: 13px;
    }
  }
  #depo-sum td {
    padding: 10px 20px;
    white-space: nowrap;
  }
  .stfcstepper-form .stepper-head ul li .step-h p {
    display: none;
  }
  #fd-docs .stfcstepper-form .stepper-content {
    margin-top: 30px;
  }
  #open-stepper .stfcstepper-form .stepper-head ul li .step-h p {
    display: block;
  }

  #open-stepper {
    .checkbox-flex-wrp {
      margin-bottom: 10px;
    }
  }
  .pay-sec-tab td {
    width: 50% !important;
    white-space: normal !important;
  }
  .tab-h-m {
    flex-direction: column;
    align-items: end;
    a {
      margin-top: 10px;
    }
  }
  .p-m-0 {
    padding: 0px !important;
  }

  .m-m-0 {
    margin: 0px !important;
  }
  .success-style {
    background-size: 550px !important;
  }
  .stage2 .radio-par {
    margin-bottom: 13px !important;
  }
  .deposit-summary-hd .due-pay {
    padding: 5px;
  }
  .dep-border.pad-remove .due-flex > div {
    width: 50%;
  }
  .dep-border.pad-remove .due-flex .due-pay h3.subtitle-1.blue-color.m-0 {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 991px) {
  #depo-sum-info {
    padding-top: 20px !important;
    padding-bottom: 20px;
  }
  ul.vehicle-ui {
    margin-top: 20px;
  }
  .pl-tab-0 {
    padding-left: 0px !important;
  }
  .success-style {
    background-position-x: 84%;
  }
  .documents-checklist.ofd-style .grey-color.ml-5 {
    margin-left: 0px !important;
    margin-top: 5px;
    line-height: 20px;
  }
  .deposit-summary-hd .summary-right {
    align-items: baseline;
    margin-top: 20px;
    .btn-inline {
      button {
        margin-bottom: 10px;
      }
    }
  }
  .deposit-summary-hd .summary-left {
    border-right: none;
  }
  .open-ul li {
    flex-wrap: wrap;
  }
  .open-ul li:nth-child(2) {
    align-items: baseline;
  }
  .stfcstepper-form .stepper-head ul li .step-h p {
    font-size: 11px;
    line-height: 18px;
  }
  .pr-t-0 {
    padding-right: 0 !important;
  }
  .pl-t-0 {
    padding-left: 0 !important;
  }
  #depo-sum td {
    white-space: nowrap;
  }
  .loan-eligibility-wrp {
    padding: 25px 0;
  }
  .bod-sec.ele-sec .subtitle-3.f-14 {
    margin-bottom: 5px;
  }
}

@media only screen and (min-width: 1024px) {
  .pl-ip-0 {
    padding-left: 0px !important;
  }
  .pr-ip-0 {
    padding-right: 0px !important;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1024px) {
  .success-style {
    background-position-x: 84%;
  }
}

@media only screen and (max-width: 1600px) {
  .m-d-0 {
    margin: 0px !important;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .stfcstepper-form .stepper-head ul li .step-h p {
    margin: 5px 0 0;
    font-size: 10px;
  }
}

.radio-group {
  margin-bottom: 20px !important;
}
.stage .radio-par {
  margin-bottom: 0px;
}

@media (min-width: 1700px) {
  .radio-group label {
    font-size: 20px;
  }
}
td.text-center {
  text-align: center !important;
}
.btn-round-fx {
  border-radius: 100%;
  box-shadow: 0px 3px 6px #00000029;
  height: 35px;
  width: 35px;
  border-color: transparent;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 18px;
  i {
    margin: 0 !important;
    color: #009ffd !important;
  }
}
.popup-modal-wrp {
  position: absolute !important;
  top: 0px !important;
  left: 0 !important;
  background: #fff;
  z-index: 999;
  width: 580px;
  padding: 15px;
  padding-top: 20px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  z-index: 9;
  @media (max-width: 767px) {
    max-width: 100%;
  }
  .modal-dialog {
    position: static;
    transform: none;
    animation: none;
    .modal-body {
      position: static;
      transform: none;
      animation: none;
    }
  }
  .msgclose {
    opacity: 0;
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    left: 0;
    display: none;
  }
  .emi-agreement {
    border-bottom: 1px solid #eee;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    h3 {
      padding-top: 0;
      padding-bottom: 5px;
      &:hover {
        color: #ffcb09;
      }
    }
    i {
      font-size: 25px;
      position: absolute;
      right: 0px;
      top: 20px;
      color: #ffcb09;
      @media (max-width: 767px) {
        font-size: 20px;
        right: -10px;
      }
    }
  }
  [data-target="close"] {
    cursor: pointer;
    padding-bottom: 5px !important;
  }
}

.position-emidiv {
  position: relative;
}
.align-center {
  align-items: center;
}
.grey-active {
  li.active {
    color: #696767 !important;
  }
}
.note-list {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
    padding-left: 25px;
    position: relative;
    color: #696767;
    font-size: 16px;
    margin-bottom: 11px;
    line-height: 22px;
    a {
      color: #009ffd;
      text-decoration: underline;
    }
    i {
      transform: rotate(-180deg);
      position: absolute;
      left: 0;
      color: #696767;
    }
  }
}
.upload-file-fix {
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  .view-uploaded-file {
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    span.df-label {
      padding-left: 10px;
      flex-grow: 1;
    }
    .up-p {
      margin-right: 0px;
      margin-left: 13px;
      display: block !important;
      border-left: 1px solid #b7b7b7;
      &:before {
        border: none;
        border-radius: 0px;
        box-shadow: none;
        content: "";
        height: 30px;
      }
      &:after {
        top: 5px;
        left: 12px;
      }
    }
    .preview-div {
      position: absolute;
      left: 0;
      background: #fff;
      bottom: -33px;
      border: 0;
      width: 100%;
    }
    .custom-file-input {
      width: 100%;
      height: 32px;
    }
  }
}
.switch {
  position: relative;
  height: 26px;
  width: 55px;
  border-radius: 50px;
  margin: 0px 10px;
  background: #fec62e;
  display: flex;
  align-items: center;
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 58px;
  line-height: 26px;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.35);
  text-align: center;
  cursor: pointer;
  &:before,
  &:after {
    display: none;
  }
}
.switch-label:active {
  font-weight: bold;
}

.switch-label-off {
  padding-left: 0px !important;
  padding-right: 20px !important;
}

.switch-label-on {
  padding-left: 20px !important;
}

.switch-input {
  display: none;
}
.switch-input:checked + .switch-label {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.65);
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -ms-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: color, text-shadow;
  -moz-transition-property: color, text-shadow;
  -ms-transition-property: color, text-shadow;
  -o-transition-property: color, text-shadow;
  transition-property: color, text-shadow;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 32px;
  /* Note: left: 50%; doesn't transition in WebKit */
}
.switch-input:checked + label {
  display: none;
}
.switch-selection {
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  display: block;
  width: 21px;
  height: 21px;
  border-radius: 100%;
  background-color: #fff;

  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5),
    0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -ms-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
.inline-lbtn {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.messageModel .message-content.message-content-wrp {
  width: 100%;
  padding: 0;
  background-image: none;
  box-shadow: none;
  td {
    text-align: left;
  }
  .font-sm {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
  }
  .msgclose {
    top: -18px;
    right: -18px;
  }
}
.terms-ckbx {
  margin-bottom: 10px;
  li {
    width: 100%;
  }
}
.sp-left-sm {
  padding-left: 0;
  .subtitle-3 {
    font-size: 16px;
    margin-bottom: 0 !important;
  }
  table {
    width: 100%;
    table-layout: fixed;
  }
  table tr td p,
  th,
  td {
    font-size: 13px;
    padding-bottom: 3px;
  }
  td {
    white-space: nowrap;
  }
  td:not(:first-child),
  th:not(:first-child) {
    padding-left: 6px !important;
  }
}

.deposit-summary-hd.quick-btn .summary-right .btn-inline button {
  width: 100%;
  height: 45px;
}

.deposit-summary-hd.recurring .summary-right .btn-inline button {
  min-width: 100%;
}
@media (min-width: 1700px) {
  .primary-btn-outline {
    font-size: 16px;
  }
}

.deposit-summary-hd.fixed-deposit .summary-right .btn-inline button {
  min-width: 100%;
  margin-bottom: 20px;
  height: 45px;
  padding: 0px;
}

@media(max-width: 767px){
  .recurring{
    .popup-modal-wrp{
      max-width: unset;
      width: 90vw;
    }
  }
}

@media(max-width: 767px){
  .fixed-deposit{
    .popup-modal-wrp{
      max-width: unset;
      width: 90vw;
    }
  }
}
