.open-dep-sec{

    .wrap-box {
        background: white;
        border: 1px solid #eeeeee;
        padding: 20px;
        border-radius: 5px;
    }
    .wrap-inner {
        display: flex;
        align-items: top;
        flex-wrap: wrap;
        margin: 0 -12px;
        .form-col{
            padding:0 12px;
            flex:0 0 27%;
            @media(max-width:767px){
                flex:0 0 100%;
            }
            @media(min-width:768px) and (max-width:991px){
                flex:0 0 33.33%;
            }
            @media(min-width:992px) and (max-width:1199px){
                flex:0 0 25%;
            }
            @media(min-width:1700px){
                flex:0 0 25%;
            }
            &:last-child{ 
                flex: 0 0 200px;
            }
        }
        .fl-text-box {
            
            
            // min-width: 300px;
            // max-width: 300px;
            margin: 20px 0px;
            //margin-right: 25px;
            margin-bottom: 10px;
            margin-top: 0;
        }
        .primary-btn {
           
        }
    }
}


@media only screen and (max-width:767px){
.open-dep-sec .wrap-inner .fl-text-box {
    min-width: 100%;
    max-width: 100%;
    margin: 20px 0px;
    margin-top: 0;
    margin-right: 0px;
    margin-bottom: 15px;
}
.open-dep-sec .wrap-inner .primary-btn {
    margin: 0px auto;
    // margin-top: 20px;
}
}


@media only screen and (min-width:768px) and (max-width:1024px){
    // .open-dep-sec .wrap-inner .fl-text-box {
    //     min-width: 45%;
    //     max-width: 45%;
    //     margin: 20px 0px;
    //     margin-right: 25px;
    //     margin-top: 0;
    // }

}