.pro-menu-box {    
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    padding:0 20px;
    @media(max-width:767px){
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    @media(min-width:768px) and (max-width:991px){
        -ms-flex: 0 0 33.33%;
        flex: 0 0 33.33%;
        max-width: 33.33%;   
        margin-bottom: 20px;
    }
    .pro-menu-card{
        box-shadow: 0px 3px 8px #0000001A;
        border: 1px solid #EEEEEE;
        border-radius: 5px;
        height: 100%;
       &:hover,&:focus{
        border: 1px solid #FFC600;
        -webkit-box-shadow: 0 0 6px #ffc600;
        box-shadow: 0 0 6px #ffc600;
       }
        @media(max-width:767px){
            border-radius: 3px;
            p{
                font-size: 14px;
                line-height: 18px;
            }
        }
        @media(min-width:768px) and (max-width:1199px){
            p{
                font-size: 16px;
            }
        }
    }
    img {
        border-radius: 5px 5px 0 0;
        object-fit: cover;
        @media(max-width:767px){
            
            border-radius: 3px;
        }
    }

}
.select-product{
    .pro-menu-box{
        position: relative;
        input{
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height:100%;
            opacity: 0;
            cursor: pointer;
            &:checked ~ .pro-menu-card{
                box-shadow: 0px 3px 8px #FFC60066;
                border: 1px solid #FFC600;
            }
        }
    }
    
}
.product-cat-style{
    .pro-menu-box{
        .pro-menu-card{
            margin-bottom: 30px;
        }
    }
}
.faq-sec.faq-style{
    .faq-inner{
        margin-top: 0px;
    }
}
.pro-menu-bottom {
    padding: 20px;
    padding-top: 15px;
    @media(max-width:767px){      
        padding: 8px 15px;
        padding-top: 6px;
    }
    @media(min-width:1700px){
        padding: 28px 30px;
        padding-left: 32px;
        p{
            line-height: 32px;
            
        }
    }
    
}

.img-fill{
    max-width: 100%;
}


section.our-products-sec.hover-product {
    margin: 40px 0px;
}

.hv-box{
    margin-bottom: 30px;
    position: relative;
    .pro-menu-box{
        padding: 0;
        max-width: 100%;
        //display: block;
        transition: 0.5s ease-in;
        @media(max-width: 767px){
            display: inline-flex;
        }
        @media(max-width:991px){
            margin-bottom: 0px;
        }
    }

    &:hover{
        .pro-menu-box{
            //display: none;
            
        }
        .hover-pro-box {
            display: flex;
            opacity: 1;
            justify-content: center;
            flex-direction: column;
            
        }
    }
}

.hover-pro-box {
    padding: 20px 30px;
    text-align: center;
    background: white;
    border-radius: 5px;
    //display: flex;
    height: 100%;
    position: relative;
    transition: 0.3s ease-in;
    position: absolute;
    top: 0;
    left: 0;
    left: 17.5px;
    right: 17.5px;
    opacity: 0;
    &:before{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content:"";
        border: 1px solid $text-lyellow;
        box-shadow: 0 0 6px $text-lyellow;
        border-radius: 5px;
        z-index: 1;
        @media(max-width: 767px){
            display: none;
        }
    }
     *{
        position: relative;
        z-index: 9;
    }
    p {
        margin: 0;
        margin-bottom: 20px;
        font-size: 14px;
        @media(max-width:991px){
            display: none;
        }
    }
    .butto-sec {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media(max-width:991px){
            justify-content: center;
            .primary-btn-outline {
                width: 100%;
                margin-bottom: 5px;
                &:last-child{
                    margin-bottom: 0px;
                }
            }
        }
    }
    @media(max-width: 767px){
        opacity: 0!important;
        display: none!important;
    }

}


@media only screen and (max-width:767px){
    .row.jc-sb {
        justify-content: unset;
    }
    .row-mb-5{
        margin: 0 -5px;
        >div, .pro-menu-box{
            padding:0 5px
        }
    }
    .pro-menu-box {
        width: 100%;
        margin-bottom: 20px;
        padding: 0;
    }
    .hv-box .pro-menu-box{
        margin-bottom: 0px;
        padding: 0;
    }
    .hover-pro-box {
        padding: 20px 15px;
        text-align: center;
       
    }
        .hover-pro-box .b-outline-btn {
            font-size: 14px;}

            .butto-sec {
                flex-wrap: wrap;
            }
            .hover-pro-box p {
                font-size: 14px;
            }
            .hv-box.mob_hv_box{
                margin-bottom: 0px;
            }
}


.basc-our-g .pro-menu-bottom {
    .subtitle-2 {
        padding-bottom: 0;
       
    }
}
@media only screen and (min-width:768px) and (max-width:991px){
.hover-pro-box {
    padding: 20px 20px;
    .butto-sec {
        flex-wrap: wrap;
        .b-outline-btn {
            width: 100%;
            margin-bottom: 10px;
            &:last-child{
                margin-bottom: 0px;
            }
        }
    }

}

.basc-our-g .pro-menu-bottom {
    padding: 20px;
}

}

//
.widget-card-sm{
    flex:0 0 100%;
    max-width: 100%;
    display: block;
    padding: 0;
    img{
        width: 100%;
        height: auto;
    }
    .subtitle-2{
        min-height: 52px;
    }
}
@media(max-width:767px){
    .pb15{
        padding-bottom: 15px!important;
    }
    .widget-card-sm{
        height:100%;
        margin-bottom: 0;
    }
    .widget-card-sm .subtitle-2{
        min-height: inherit;
    }
    .job-det p{
        font-size: 14px!important;
    }
}
#vh-dw{
    .download-li{
        margin-top: 0;
    }
}
.section-product{
    padding-top: 5px;
    padding-bottom: 15px;
    margin: 0!important;
}
.scroll-fix-products {
    margin-top: -40px;
    position: absolute;
    @media(max-width:767px){
        margin-top: -5px;
    }
}
.p-wcl{
    p{
        @media(max-width:767px){
            min-height: 36px;
        }
    }
}
@media(max-width:767px){
.order2{
    .owl-item{
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        &:nth-child(2){
            -webkit-box-ordinal-group: 3;
            -ms-flex-order: 1;
            order: 1;
        }
    }
}
.order3{
    .owl-item{
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        &:nth-child(3){
            -webkit-box-ordinal-group: 3;
            -ms-flex-order: 1;
            order: 1;
        }
    }
}
.order4{
    .owl-item{
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        &:nth-child(4){
            -webkit-box-ordinal-group: 3;
            -ms-flex-order: 1;
            order: 1;
        }
    }
}.order5{
    .owl-item{
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        &:nth-child(5){
            -webkit-box-ordinal-group: 3;
            -ms-flex-order: 1;
            order: 1;
        }
    }
}
}

.owl-mob{
    display: block;
    .owl-dots {
        display: none;
    }
    @media(max-width:767px){
        .owl-stage{
            display: flex;
            .owl-item{
                white-space: nowrap;
            }
        }
        padding: 0 20px!important;
        margin: 0 -15px!important;
        button{
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            left: 6px;
            background-color: #F8F8F8!important;
            color: $text-blue!important;
            padding: 0;
            i{
                padding: 0 4px;
            }
            &.owl-next{
                left: auto;
                right: 6px;
            }
            &.disabled{
                display: none;
            }
        }
    }
}
.owl-mob1{
    display: block;
    position: relative;
    
    .owl-dots {
        display: none;
    }
    @media(max-width: 991px){
        width: 100%!important;
        overflow: hidden!important;
        .owl-stage{
            display: flex;
            .owl-item{
                white-space: nowrap;
            }
        }
        .owl-nav{
            button{
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                left: -7px;
                background-color: #F8F8F8!important;
                color: $text-blue!important;
                border:0;
                padding: 0;
                margin: 0!important;
            i{
                padding: 0  3px;
                font-size: 16px;
            }
            &.owl-next{
                left: auto;
                right: -7px;
            }
            &.disabled{
                display: none;
            }
            }
        }
        
    }
}
.owl-tab, .owl-bdirec{
    display: block;
    position: relative;//overflow: hidden;
    .owl-dots {
        display: none;
    }
    @media(max-width:767px){
        display: flex;
        overflow: hidden!important;
        .owl-stage{
            display: flex;
            .owl-item{
                white-space: nowrap;
            }
        }
        
        .item{
           // width: max-content;
           display: block!important;
           min-width: none;
        }
        button{
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            left: -4px;
            background-color: #fff!important;
            color: $text-blue!important;
            border:0;
            padding: 0;
            i{
                padding: 0;
                font-size: 16px;
            }
            &.owl-next{
                left: auto;
                right: -4px;
            }
            &.disabled{
                display: none;
            }
        }
    }
}

@media(max-width:767px){
.owl-bdirec{
    .owl-stage{
       left: -35px;
       padding: 0;
       position: relative;
        .owl-item{
            white-space: nowrap;
        }
    }
    button{
        display: none;
    }
}
}