
.app-download{    
    // background: #f7f7f7;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    position: relative;
    .app-download-mobile{
        display: none;
        position: absolute;
        bottom:0;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom center;
    }
    @media (max-width: 767px) {
        background-image: none!important;
        background-size: auto;
        .app-download-mobile{
            display: block;
        }
    }
    @media (max-width: 991px) {
        background-position: center center;
        
    }
    h2{
        font-weight: 500;
        padding-bottom: 20px;
        margin: 0;
        @media (max-width: 767px) {
            padding-bottom: 18px;
           
        }
    }
    .img-margin{
        margin-bottom: -100px;
        width: auto;
        height: auto;
        @media (max-width: 767px) {
            margin: 0;
            padding-bottom: 20px;
          }
          @media(min-width:768px) and (max-width:1199px){
            margin-bottom: -40px;
        }
        @media(min-width:1200px) and (max-width:1699px){
            margin-bottom: -60px;
        }
        @media(min-width:1700px){
            height: 599px;
        }
    }
    .app-download-cnt{
        padding-bottom: 100px;
        @media (max-width: 767px) {
            padding-top: 20px;
            padding-bottom: 10px;
            button{
                margin-top: 10px;
            }
        }
        @media(min-width:768px) and (max-width:1199px){
            padding: 30px 0;
        }
        @media(min-width:1200px) and (max-width:1699px){
            padding: 30px 0;
        }
        @media (min-width: 1700px) {
            padding-right: 137px;
            padding-bottom: 0px;
        }
    }
}
.app-download-list{
    padding: 0;
    margin: 0;
    @media(min-width:1300px){
        padding-right: 30px;
        
    }
    li{
        list-style: none;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 25px;
        position: relative;
        @media (max-width: 767px) {
            font-size: 14px;
            margin-bottom: 15px;
            padding-left: 40px;
            span{
                img{
                    left:0; 
                    
                }
            }
          }
        span{
            img{
                position: absolute;
                width: 35px;
                height: auto;
                @media(min-width:768px){
                    left:-60px;
                }
                @media(max-width:991px){
                    width: 25px;
                }
                @media(min-width:1300px){
                    width: 25px;
                    left:-43px;
                }
                
            }
            
        }
       
    }
}
.home-slider-sec{
    padding-top: 80px;
    padding-bottom: 40px;
    @media(max-width: 767px){
        padding-top: 30px;
        padding-bottom: 5px;
    }
}
.get-in-touch-sec{
    height:100%;
    .get-in-touch{
        &.border-left{
            border-left: 1px solid #d5d5d5;
            padding-left: 8%;
            @media(max-width: 991px){
                padding-left: 0;
                border: 0;
            }
        }
        
    }
    
    h4{
        margin-bottom: 0;
        padding-bottom: 24px;
        font-weight: 500;
        color: #000;
        @media(max-width: 991px){
            padding-bottom: 14px;
        }
        a{
            color: $text-blue;
            text-decoration: underline;
        }
    }
    p{
        padding-right: 20px;
        line-height: 30px;
        padding-bottom: 0;
        @media(max-width: 1199px){
            padding-right: 0;
            font-size: 14px;
            padding-bottom: 20px;
            line-height: 25px;
        }
        a{
            color: #000;
        }
    }
    .top-spacing{
        padding-top: 70px;
        display: flex;
        flex-wrap: wrap;
        @media(max-width: 991px){
            padding-top: 30px;
        }
        @media(min-width:992px) and (max-width:1199px){
            padding-top: 20px;
        }
        a{
            flex: 0 0 40%;
            @media(max-width: 767px){
                flex: 0 0 100%;
                margin-bottom: 15px;
            }
            @media(min-width:992px) and (max-width:1199px){
                flex: 0 0 100%;
                margin-bottom: 15px;
            }
        }
        a + a{
            margin-left: 15px;
            flex: 0 0 56%;
            @media(max-width: 767px){
                flex: 0 0 100%;
                margin-left: 0px;
                margin-bottom: 0px;
            }
            @media(min-width:992px) and (max-width:1199px){
                flex: 0 0 100%;
                margin-bottom: 0px;
                margin-left: 0px;
            }
            span{
                padding-right: 10px;
                
            }
        }
    }
}
//getin
.get-in-touch-sec
{
    @media(min-width:768px){
        padding-top: 0px;
    }
    background: transparent linear-gradient(to top, #F8F8F8 0%, #FFFFFF 100%) 0% 0%;
    padding-bottom: 30px;
    @media(min-width: 1700px){
        background: transparent -webkit-gradient(linear, left bottom, left top, from(#efefef), to(#FFFFFF)) 0% 0%;
    }
}
.line-sep{
    border:0;
    border-bottom: 1px solid #d5d5d5;
    margin: 0;
    padding-top: 80px;
    @media(max-width: 991px){
        padding-top: 40px;
    }
}
.owl-image{
    img{
       width: 100%;
       height:auto;
    }
}
@media(max-width:991px){
   
    .basc-our-g{
        padding-bottom: 0;
    }
}

//Carrers
.banner.inner-banner.careers{
    padding-bottom: 20px;  
}
//po\r
.pt0{
    padding-top: 0!important;
}
.pb0{
    padding-bottom: 0!important;
}
.radio-group{
    margin-bottom: 15px;
    label{
        color: #000000F2;
        font-size: 14px;
        font-weight: 500;
    }
    .radio-par{
        margin-right: 50px;
        color: #000000;
    }
}
@media (min-width: 1700px){
    .radio-group{
        margin-bottom: 20px;
        label{
            font-size: 20px;
        }
        .radio-par{
            margin-right: 100px;
        }
    } 
}
.prod-wrp{
    padding-top:20px;
    padding-bottom: 15px;
}
.angle-up-btn {
    box-shadow: 0px 3px 6px #0000001A;
    background-color: #FFFFFF;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; 
    right: 62px;
        top: 100px;
    @media(max-width:767px){
        width: 29px;
        height: 29px;
        top: auto;
        bottom: 60px;
        right: 15px;
    }
    @media(min-width:768px) and (max-width:991px){
        width: 35px;
        height: 35px;
    }
    @media(min-width:992px) and (max-width:1199px){
        right: 15px;
        top: auto;
        bottom: 10px;
    }
    @media(min-width:1200px) and (max-width:1399px){
        right: 20px;
        
    }
    i{
        font-size: 20px;
        color: $text-blue;
        margin-right: 0!important;
    }
}
.calc-padding{
    padding-bottom: 17px;
}
.scroll-fix{
    margin-top: -150px;
    position: absolute;
}
@media(max-width:767px){
#stfc-gst{
    .table-responsive{
        border: 0;
    }
    .file-table-wrp{
        margin: 0;
    }
    thead{
        display: none;
    }
    tr{
        padding: 10px 0;
        display: block;
        &:last-child{
            padding-bottom: 0;
        }
    }
    td{
        border: 0;
        display: block;
        width:100%;
        //background-color: #fff;
        padding: 2px 15px!important;
        &:first-child{
            font-size: 14px;
            font-weight: 500;
        }
        &:last-child{
            width:100%;
            text-align: left;
            display: flex;
            span{
                padding-right: 15px;
            }
        }
    }
}
}

@media(min-width:1700px){
    .larg-screen-center{
        margin: 0px auto;
    }
}