.slider-card{
    box-shadow: 0px 3px 8px #0000001A;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    img{
        width: 100%;
    }
    .txt-rgt {
        padding: 20px;
       padding-left: 0;
       padding-right: 30px;
       @media(max-width:767px){
           padding:15px;
           padding-bottom: 10px;
       }
       @media(min-width: 768px) and (max-width:1199px){
            padding: 15px;
            padding-left: 0;
        }
        .subtitle-3 {
            margin: 0px 0px 30px;
            @media(max-width:767px){
                margin: 0px 0px 15px;
            }
            span{
                padding-top: 12px;
                color: $text-gray;
                font-size: 16px;
                display: block;
                @media(max-width:767px){
                    padding-top: 3px;
                }
            }
        }
        p {
            margin-bottom: 0px;
            font-size: 14px;
            color: $text-gray;
            line-height: 22px;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;  
            overflow: hidden;
            padding-bottom: 0;
           @media(min-width:1700px){
            font-size: 16px;
            line-height: 26px;
           }
        }
    }
}
.slider-small{
    .success-slider{
    
    .owl-nav{
        margin-left: 33.33%;
        @media(max-width:767px){
            justify-content: space-between;
            padding: 15px;
            padding-bottom: 15px;
            position: static;
            margin: 0;
        }
        @media(min-width: 768px) and (max-width: 991px){
            margin-left: 42.66%; 
        }
    }
}
}
.success-slider{
    .txt-rgt{
        @media(min-width: 1200px){
            padding-top: 0;
        margin-top: -20px;
        }
        
    }
        .owl-nav{
            display: flex;
            align-items: center;
            margin-left: 25%;
            position: absolute;
            bottom: 12px;
            @media(max-width:767px){
                justify-content: space-between;
                padding: 15px;
                padding-bottom: 15px;
                position: static;
                margin: 0;
            }
            @media(min-width: 768px) and (max-width: 991px){
                margin-left: 42.66%; 
            }
            @media(min-width: 992px) and (max-width: 1199px){
                bottom:5px;
            }
            button {
               
                i{
                    color: $text-blue;
                    font-size: 25px;
                    @media(max-width:767px){
                        font-size: 20px;
                    }
                    @media(min-width: 768px) and (max-width:1199px){
                        font-size: 25px;
                    }
                }
                span {
                    color: $text-blue;
                    font-weight: 300;
                }
            }
            .owl-next {
                margin-left: 5px;
                @media(max-width:767px){
                    margin-left: 5px;
                }
                @media(min-width: 768px) and (max-width:1199px){
                    margin-left: 5px;
                }
            }
            .owl-prev {
                margin-left: 0px;
            }
           
        
        }
    } 
       
