.back-btn-g {
    color: black;
    margin-right: 15px;
}

.pro-menu-card.active{
box-shadow: 0px 3px 8px #FFC60066;
border: 2px solid #FFC600;
}

.mb-30{
    margin-bottom: 30px !important;
}
.mb-20{
    margin-bottom: 20px !important;
}
.mt-30{
    margin-top: 30px !important;
}
.mt-20{
    margin-top: 20px !important;
}
.loan-prouct-sec{
#amount .noUi-base:first-child  {
    display: none;
}

.section-padding-sm.custom-tab{
    padding: 20px 0px;
}
.fl-text-box {
    margin: 0;
    margin-bottom: 20px;
}
}

.green-color {
    color: #11CE01;
}

.suc-app-sec {
    .success-style{
        background: url(../img/Vehicle-Loan/thankyou.webp);
        background-size: cover;
        background-position: right bottom;
    }
}

#v-hcard{
    .hover-pro-box p{
        padding: 0;
    }
    .body-2{
        padding: 0;
    }
}
#v-hcard {
    margin: 0;
}

.faq-parah p{
    padding-bottom: 15px;
}





@media (max-width:767px) {
    .banner-btn {
        margin-bottom: 20px;
    }

    #v-hcard{
    .pro-menu-card {
        min-height: 120px;
    }
   
}

#faq-v{
    .faq-inner {
        margin-left: unset;
        margin-right: unset;
    }
}
}

.ele-wrap-cnt p {
    padding-bottom: 20px;
    @media(max-width:767px){
        padding-bottom: 15px;
        line-height: 22px;
    }
    &:last-child{
        padding-bottom: 0!important;
    }
    .li-hd {
        color: black;
        font-weight: 500;
    }
}

.bg-grey{
    background: transparent linear-gradient(268deg, #F8F8F8 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box !important; 
}
#vc-ele .noUi-base:first-child{
    display: none;
}

#vh-dw .download-li{
    margin-top: 0;
   li {
        margin-bottom: 20px;
    }
}

#v-hcard .body-2 {
    padding: 0;
}

.justify-content-center{
justify-content: center !important;
}

