.bod-dp {
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 35px;
  width: 100px;
  height: auto;
  @media (max-width: 991px) {
    width: 70px;
    margin-bottom: 20px;
  }
}

.subtitle-4 {
  font-weight: 400;
  font-size: 18px;
  @media (max-width: 991px) {
    margin: 10px 0;
  }
}

.bod-parah {
  width: 85%;
}

.bod-right-inner {
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 5px;
  box-shadow: 0px 3px 8px #0000001a;
  max-height: 520px;
  @media (max-width: 767px) {
    overflow: hidden;
    overflow-x: auto;
    width: auto;
    display: flex;
    box-shadow: none;
  }
  .bod-cnt-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px;
    border: 1px solid #eeeeee !important;
    border-bottom: 0;
    background-color: #fff;
    cursor: pointer;
    @media (max-width: 767px) {
      padding: 10px 15px;
      -webkit-box-flex: unset;
      -ms-flex-positive: unset;
      flex-grow: unset;
      display: flex;
      min-width: max-content;
      margin-right: 5px;
    }
    &:last-child {
      border-bottom: 1px solid #c9c9c9;
    }
    .subtitle-4 {
      margin: 0;
      font-size: 16px;
    }
    p {
      margin: 0;
      margin-top: 10px;
      color: #696767;
      font-size: 12px;
      line-height: 15px;
      padding-bottom: 0;
      @media (min-width: 1920px) {
        font-size: 20px;
        line-height: 26px;
      }
    }
  }
  img {
    border-radius: 50%;
    object-fit: cover;
    width: 50px;
    height: 50px;
    @media (max-width: 991px) {
      width: 50px !important;
      height: 50px;
      margin-left: 10px;
    }
  }
}

.bod-list {
  // height: 0;
  // opacity: 0;
  display: none;
  &:first-child {
    // height: auto;
    // opacity: 1;
    display: block;
  }

  .subtitle-1 {
    margin-bottom: 15px;
  }
  .subtitle-4 {
    margin: 0;
    margin-bottom: 25px;
    font-size: 13px;
    font-weight: 500;
  }
}
.bod-list.actives {
  height: auto;
  opacity: 1;
}

.bod-cnt-list.active {
  border: 2px solid #ffc600 !important;
  position: relative;
  display: flex !important;
  &::after {
    content: "";
    width: 7px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #ffc600;
    border-radius: 2px 0 0 2px;
  }
}

@media screen and (max-width: 767px) {
  .bod-right-inner {
    .bod-cnt-list {
      border: 1px solid #eeeeee !important;
    }
    .bod-cnt-list.active {
      border: 1px solid #ffc600 !important;
      &::after {
        width: 3px;
      }
    }
  }

  .bod-parah {
    width: 100%;
  }
  .bod-right {
    margin: 0px auto 15px;
    // margin-top: 0;
  }
  
}

.bod-sec {
  padding-bottom: 60px;
  @media (max-width: 1500px) {
    padding-bottom: 40px;
  }
}

@media (min-width: 1700px) {
  .bod-right-inner {
    .bod-cnt-list {
      .subtitle-4 {
        font-size: 22px;
      }
    }
  }
}
.grey-active.grey-g li {
  color: #696767;
}

.grey-active.grey-g li.active {
  color: black !important;
}

.email-txt {
  word-break: break-all;
}

.mb-10 {
  margin-bottom: 10px;
}
.g-color {
  background: #f7f7f7;
  .note-list li {
    color: #000000;
  }
}

.profile-det {
  display: none;
  &:nth-child(1) {
    display: block;
  }
}

.prof-c:nth-child(1) {
  .emi-profile.card-shadow {
    border: 1px solid #ffc600;
  }
}

.edit-box-g {
  border: 0;
  font-weight: 600 !important;
  padding-top: 5px;
}
.edit-box-g.disabled {
  pointer-events: none;
}
.edit-box-g.active {
  border: 1px solid #ffb100;
  border-radius: 3px;
}
.person-box {
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  padding: 7px;
  font-weight: 600;
  font-size: 14px;
  background-color: transparent;
  &:focus {
    border: 1px solid #ffb100;
    background-color: transparent !important;
  }
  &:hover {
    background-color: transparent !important;
  }
}
.disabled.person-box {
  pointer-events: none;
  border-color: transparent;
}
#addr-chan-btn {
  cursor: pointer;
}
#sucss-bk {
  display: block;
  margin: 20px auto 0;
}
.bg-contain {
  background-size: contain !important;
}
.b-none {
  border: none !important;
}

@media (max-width: 767px) {
  .mp-margin.card-margin.prof-c {
    margin-bottom: 20px;
    .emi-dblock.myprofile {
      margin-top: 0;
    }
  }
  div#my-deposits .dep-mar-top {
    margin-top: 0;
  }
  .mb-sub-g {
    display: flex;
    align-items: center;
    .user-icon-style {
      margin-right: 10px;
    }
  }
  .mb-mb-30 {
    margin-bottom: 30px;
  }

  .mb-mb-15 {
    margin-bottom: 15px !important;
  }
  .ele-tab-hd ul li {
    font-size: 13px !important;
  }
  .paydue-table .td-heading i {
    left: 10px;
  }
}

.mat-table td {
  padding: 10px 20px;
}

#my-rewards-hd #bod-list_3 .ap-loan .apl-content.r-cnt {
  pointer-events: none;
  cursor: pointer;
}
.mat-table.recurring-table td {
  padding: 10px 0px;
}
